Repository networkupstools/nut, pull requests merged in 2021-10, with the labels that each got.

#1113 Add active power and apparent power from APC MIBs for single-phase UPS
  drivers/apc-mib.c
Labels: APC, SNMP, ready / gonna merge

#1048 drivers/tripplite.c: start using the 'X' value
  drivers/tripplite.c
Labels: need testing, Tripp Lite, ready / gonna merge

#1061 genericups: Add support for FTTx battery backup.
  docs/contact-closure.txt
  docs/man/genericups.txt
  docs/nut.dict
  drivers/genericups.c
  drivers/genericups.h
Labels: ready / gonna merge

#1124 A few recipe improvements for baby-steps on Windows builds
  autogen.sh
  ci_build.sh
  configure.ac
  m4/nut_type_socklen_t.m4
Labels: Windows, CI
