Repository networkupstools/nut, pull requests merged in 2022-03, with the labels that each got.

#1318 APC HID UPS: Add ability to set battery battery.mfr.date
  drivers/apc-hid.c
  drivers/usbhid-ups.c
Labels: APC, USB

#1325 LibUSB related code - revise for bit-maths with signed char
  drivers/blazer_usb.c
  drivers/libshut.c
  drivers/libusb0.c
  drivers/libusb1.c
  drivers/nutdrv_qx.c
  drivers/riello_usb.c
  drivers/tripplite_usb.c
  tests/getvaluetest.c
Labels: USB, refactor/fightwarn, USB-HID encoding/LogMin/LogMax

#1313 Added socomec_jbus implementation
  docs/man/socomec_jbus.txt
  drivers/Makefile.am
  drivers/socomec_jbus.c
Labels: modbus

#1329 NEWS: Docs bump to summarize recent PRs and declare NUT 2.8.0 (instead of 2.7.5) as next release
  NEWS
  UPGRADING
  docs/config-prereqs.txt
  docs/nut.dict
Labels: documentation

#1330 Clang 13 ready
  drivers/belkinunv.c
  drivers/riello.c
  m4/nut_compiler_family.m4
Labels: CI, refactor/fightwarn, Riello

#1327 SNMP subdriver generation script: fixes and improvements
  scripts/subdriver/gen-snmp-subdriver.sh
Labels: SNMP, refactor/fightwarn

#1334 Fix cross builds
  ci_build.sh
  configure.ac
  drivers/snmp-ups.h
  m4/ax_c_pragmas.m4
  m4/ax_run_or_link_ifelse.m4
  m4/nut_check_libnetsnmp.m4
  m4/nut_compiler_family.m4
Labels: SNMP, CI, cross-builds

#1331 Add tested descriptors for Salicru Twin Pro 2
  drivers/salicru-hid.c
Labels: Salicru

#1282 Adelsystem cbi
  NEWS
  ci_build.sh
  docs/man/Makefile.am
  docs/man/adelsystem_cbi.txt
  docs/nut.dict
  drivers/Makefile.am
  drivers/adelsystem_cbi.c
  drivers/adelsystem_cbi.h
Labels: modbus

#1335 drivers/usbhid-ups.c: try to close libusb handle before reconnecting …
  drivers/libhid.h
  drivers/libusb0.c
  drivers/libusb1.c
  drivers/usbhid-ups.c
Labels: USB, service/daemon start/stop

#1027 nutdrv_qx.c: add correction of runtime estimation
  NEWS
  ci_build.sh
  drivers/nutdrv_qx.c
Labels: feature, need testing, Qx protocol driver

#1339 [CI] Jenkinsfile-dynamatrix: make use of dsbcStageTimeoutSettings
  Jenkinsfile-dynamatrix
Labels: CI

#1337 [CI] Unblock auto builds on openbsd-6.4
  Jenkinsfile-dynamatrix
  ci_build.sh
  configure.ac
  docs/config-prereqs.txt
  drivers/libhid.c
  m4/ax_c_pragmas.m4
  m4/ax_check_compile_flag.m4
  m4/nut_check_libgd.m4
  m4/nut_compiler_family.m4
Labels: OpenBSD, CI, refactor/fightwarn

#811 CyberPower UT series do not seem to pass correct 'OB' flag, try to accommodate this with new "onlinedischarge" config flag
  NEWS
  ci_build.sh
  docs/man/usbhid-ups.txt
  docs/nut.dict
  drivers/usbhid-ups.c
Labels: enhancement, ready / code review, CyberPower (CPS), ready / gonna merge
