Repository networkupstools/nut, pull requests merged in 2022-01, with the labels that each got.

#1240 Fightwarn with libusb-1.0
  configure.ac
  drivers/hidparser.c
  drivers/hidparser.h
  drivers/libhid.c
  drivers/libhid.h
  drivers/libshut.c
  drivers/libshut.h
  drivers/libusb0.c
  drivers/libusb1.c
  drivers/nut_libusb.h
  drivers/nutdrv_atcl_usb.c
  drivers/richcomm_usb.c
  drivers/riello_ser.c
  drivers/riello_usb.c
  drivers/tripplite_usb.c
  drivers/usb-common.h
  drivers/usbhid-ups.c
Labels: USB, CI, refactor/fightwarn

#1241 Fightwarn libusb 1.0+0.1
  configure.ac
  drivers/hidparser.c
  drivers/hidparser.h
  drivers/libhid.c
  drivers/libhid.h
  drivers/libshut.c
  drivers/libshut.h
  drivers/libusb0.c
  drivers/libusb1.c
  drivers/nut_libusb.h
  drivers/nutdrv_atcl_usb.c
  drivers/richcomm_usb.c
  drivers/riello_ser.c
  drivers/riello_usb.c
  drivers/tripplite_usb.c
  drivers/usb-common.h
  drivers/usbhid-ups.c
Labels: USB, CI, refactor/fightwarn

#1253 Merge original libusb-1.0 branch into NUT master
  ci_build.sh
  configure.ac
  data/cmdvartab
  docs/configure.txt
  docs/nut-names.txt
  drivers/Makefile.am
  drivers/bcmxcp_usb.c
  drivers/blazer_usb.c
  drivers/hidparser.c
  drivers/hidparser.h
  drivers/libhid.c
  drivers/libhid.h
  drivers/libshut.c
  drivers/libshut.h
  drivers/libusb0.c
  drivers/libusb1.c
  drivers/nut_libusb.h
  drivers/nutdrv_atcl_usb.c
  drivers/nutdrv_qx.c
  drivers/richcomm_usb.c
  drivers/riello.h
  drivers/riello_ser.c
  drivers/riello_usb.c
  drivers/tripplite_usb.c
  drivers/usb-common.h
  drivers/usbhid-ups.c
  m4/nut_check_libusb.m4
  tests/Makefile.am
  tests/getvaluetest.c
  tools/nut-scanner/nutscan-init.c
  tools/nut-scanner/scan_usb.c
  tools/nut-usbinfo.pl
Labels: USB, refactor/fightwarn

#1254 Merge refined libusb-1.0+0.1 branch into NUT master
  drivers/bcmxcp_usb.c
  drivers/libhid.c
  drivers/libusb0.c
  drivers/libusb1.c
  drivers/nutdrv_atcl_usb.c
  drivers/nutdrv_qx.c
  drivers/richcomm_usb.c
  drivers/riello_usb.c
  drivers/tripplite_usb.c
  drivers/usbhid-ups.c
  tools/nut-scanner/scan_usb.c
Labels: USB, refactor/fightwarn

#1262 Fightwarn for medium level
  ci_build.sh
  clients/nutclient.h
  clients/nutclientmem.h
  common/common.c
  configure.ac
  docs/config-prereqs.txt
  docs/nut.dict
  drivers/asem.c
  drivers/nut-libfreeipmi.c
  drivers/nutdrv_qx.c
  drivers/snmp-ups.h
  m4/ax_c_pragmas.m4
  m4/nut_check_libnetsnmp.m4
  m4/nut_compiler_family.m4
  tests/cpputest.cpp
  tests/example.cpp
  tests/nutclienttest.cpp
  tools/nut-scanner/nut-scanner.c
Labels: CI, refactor/fightwarn

#1239 generic_modbus driver - handle connection errors (broken pipe), configurable modbus timeouts
  drivers/generic_modbus.c
  drivers/generic_modbus.h
  m4/ax_c_pragmas.m4
  m4/nut_check_libmodbus.m4
Labels: modbus

#1265 ci_build.sh: refactor make-verbosity settings and repeated logic
  ci_build.sh
  m4/nut_compiler_family.m4
Labels: CI

#1259 data/driver.list.in and drivers/salicru-hid.c: add known compatibility for Salicru TWIN (PRO2, PRO3, RT3...)
  data/driver.list.in
  drivers/salicru-hid.c
  scripts/upower/95-upower-hid.rules
Labels: HCL, DDL, Salicru

#1260 Eaton NMC: fix the non publication of real/power with 3ph
  drivers/mge-xml.c
Labels: bug, Eaton, ready / gonna merge

#1075 [Issue #616] legrand usb support
  data/driver.list.in
  drivers/Makefile.am
  drivers/legrand-hid.c
  drivers/legrand-hid.h
  drivers/nutdrv_qx.c
  drivers/usbhid-ups.c
  scripts/upower/95-upower-hid.rules
Labels: USB, ready / gonna merge, Qx protocol driver

#1245 Fix #439 Incorrect Output Voltage on CPS*EFPCLCD
  drivers/apc-hid.c
  drivers/arduino-hid.c
  drivers/belkin-hid.c
  drivers/cps-hid.c
  drivers/delta_ups-hid.c
  drivers/explore-hid.c
  drivers/hidparser.c
  drivers/hidparser.h
  drivers/hidtypes.h
  drivers/idowell-hid.c
  drivers/legrand-hid.c
  drivers/liebert-hid.c
  drivers/mge-hid.c
  drivers/openups-hid.c
  drivers/powercom-hid.c
  drivers/powervar-hid.c
  drivers/salicru-hid.c
  drivers/tripplite-hid.c
  drivers/usbhid-ups.c
  drivers/usbhid-ups.h
Labels: bug, ready / code review, USB, ready / gonna merge, USB-HID encoding/LogMin/LogMax

#1266 drivers/snmp-ups.c: sanity checks against NULL snmp_info usage
  drivers/snmp-ups.c
Labels: SNMP

#1256 Powercom driver: implement config parameter to skip battery check on initialization/startup
  docs/man/powercom.txt
  docs/nut.dict
  drivers/powercom.c
Labels: feature, documentation, need testing, ready / gonna merge, Powercom

#1250 nutdrv_qx.c: add support for Armac UPS (or maybe other richcomm) from #1247
  data/driver.list.in
  docs/man/nutdrv_qx.txt
  docs/nut.dict
  drivers/nutdrv_qx.c
Labels: USB, Qx protocol driver

#1135 Add nutdrv_qx driver for Ablerex model PR#2
  data/driver.list.in
  docs/acknowledgements.txt
  docs/man/nutdrv_qx.txt
  docs/nut.dict
  docs/nutdrv_qx-subdrivers.txt
  drivers/Makefile.am
  drivers/nutdrv_qx.c
  drivers/nutdrv_qx_ablerex.c
  drivers/nutdrv_qx_ablerex.h
Labels: ready / code review, ready / gonna merge, Qx protocol driver

#486 Update NEWS and UPGRADING for next release
  NEWS
  UPGRADING
  data/driver.list.in
  docs/config-prereqs.txt
  docs/nut.dict
Labels: documentation, USB

#1272 Revert strcmp() warnings fixed earlier by strncmp()
  clients/upsclient.c
  clients/upslog.c
  clients/upsmon.c
  clients/upsrw.c
  clients/upssched.c
  clients/upsset.c
  common/state.c
  common/upsconf.c
  docs/developers.txt
  docs/nut.dict
  drivers/apcsmart-old.c
  drivers/apcsmart.c
  drivers/apcupsd-ups.c
  drivers/belkin.c
  drivers/belkinunv.c
  drivers/bestups.c
  drivers/clone-outlet.c
  drivers/clone.c
  drivers/dstate.c
  drivers/gamatronic.c
  drivers/huawei-ups2000.c
  drivers/main.c
  drivers/masterguard.c
  drivers/mge-utalk.c
  drivers/mge-xml.c
  drivers/nutdrv_qx.c
  drivers/nutdrv_qx_bestups.c
  drivers/nutdrv_qx_blazer-common.c
  drivers/nutdrv_qx_voltronic-qs-hex.c
  drivers/nutdrv_qx_voltronic-qs.c
  drivers/nutdrv_qx_voltronic.c
  drivers/oneac.c
  drivers/powercom.c
  drivers/powerman-pdu.c
  drivers/powerp-txt.c
  drivers/snmp-ups.c
  drivers/tripplite_usb.c
  drivers/upscode2.c
  drivers/victronups.c
  server/conf.c
  server/netget.c
  server/netlist.c
  server/netset.c
  server/user.c
  tests/cpputest.cpp
  tools/nut-scanner/nut-scanner.c
  tools/nut-scanner/scan_snmp.c
Labels: refactor/fightwarn
