Repository networkupstools/nut, pull requests merged in 2022-10, with the labels that each got.

#1678 Documentation update regarding Network-M2 card
  AUTHORS
  data/driver.list.in
  docs/man/snmp-ups.txt
  docs/nut.dict
Labels: enhancement, documentation, Eaton, SNMP

#1682 Fix walk issue with snmpv3 (** add type error exception **)
  drivers/snmp-ups.c
Labels: SNMP, ready / gonna merge

#1684 huawei-ups2000.txt: document two more UPS models.
  docs/man/huawei-ups2000.txt
Labels: documentation, modbus, Huawei
