Repository networkupstools/nut, pull requests merged in 2022-04, with the labels that each got.

#1342 tools/nut-usbinfo.pl: Use hwdb for UPower rules
  .github/pull_request_template.md
  scripts/upower/95-upower-hid.hwdb
  scripts/upower/95-upower-hid.rules
  tools/nut-usbinfo.pl
Labels: systemd, ready / gonna merge

#1345 Doc for netbsd builds, more clang 13 support, more manpage related recipes
  Makefile.am
  autogen.sh
  ci_build.sh
  common/parseconf.c
  common/str.c
  docs/Makefile.am
  docs/config-prereqs.txt
  docs/man/Makefile.am
  docs/nut.dict
  drivers/apcsmart-old.c
  drivers/apcsmart.c
  drivers/mge-utalk.c
  drivers/serial.c
  drivers/snmp-ups.c
  m4/nut_compiler_family.m4
  server/conf.c
Labels: documentation, CI, refactor/fightwarn, NetBSD

#1354 Support NUT-Monitor client with both Py3qt5 and Py2Gtk2 environments
  .lgtm.yml
  NEWS
  UPGRADING
  configure.ac
  docs/config-prereqs.txt
  docs/new-clients.txt
  docs/nut.dict
  m4/nut_check_python.m4
  scripts/python/Makefile.am
  scripts/python/README
  scripts/python/app/.gitignore
  scripts/python/app/NUT-Monitor
  scripts/python/app/NUT-Monitor-py2gtk2.in
  scripts/python/app/NUT-Monitor-py3qt5.in
  scripts/python/app/README
  scripts/python/app/nut-monitor-py2gtk2.desktop
  scripts/python/app/nut-monitor-py3qt5.desktop
  scripts/python/app/nut-monitor.desktop
  scripts/python/app/ui/aboutdialog1.ui
  scripts/python/app/ui/dialog1.ui
  scripts/python/app/ui/dialog2.ui
  scripts/python/app/ui/gui-1.3.glade
  scripts/python/app/ui/gui-1.3.glade.h
  scripts/python/app/ui/window1.ui
  scripts/python/module/PyNUT.py.in
Labels: enhancement, python

#1351 Add "PROTVER" as alias to "NETVER" for NUT v2.8.0
  NEWS
  docs/net-protocol.txt
  docs/nut.dict
  server/netcmds.h
Labels: NUT protocols

#1356 Address segfault reported in issue #1346
  drivers/usbhid-ups.c
Labels: bug

#1359 reinstate handling for STATUS(ONLINE) in usbhid-ups
  drivers/usbhid-ups.c
Labels: bug, CyberPower (CPS), USB, ready / gonna merge

#1357 drivers/mge-hid.c: mge_claim(): test that VendorID==PHOENIXTEC 0x06da…
  NEWS
  drivers/mge-hid.c
Labels: ready / gonna merge, liebert, MGE, Phoenixtec (USB 0x06DA/0xFFFF)

#564 support for PowerWalker VFI 2000 TGS by usbhid-ups
  NEWS
  data/driver.list.in
  docs/man/usbhid-ups.txt
  docs/nut.dict
  drivers/liebert-hid.c
Labels: USB, ready / gonna merge, needs-work, liebert, PowerWalker, Phoenixtec (USB 0x06DA/0xFFFF)

#584 Updates for Tripp Lite 3005 protocol
  NEWS
  data/driver.list.in
  drivers/tripplite_usb.c
Labels: HCL, DDL, Tripp Lite, USB, ready / gonna merge

#1364 Makefile.am: define dependencies between recipes for dist*…
  Makefile.am
Labels: bug, CI

#1380 Fix remaining API mismatches before NUT 2.8.0 release
  clients/nutclient.cpp
  clients/nutclient.h
  clients/nutclientmem.cpp
  clients/nutclientmem.h
  clients/upsc.c
  clients/upsclient.c
  clients/upsclient.h
  clients/upscmd.c
  clients/upsimage.c
  clients/upslog.c
  clients/upsmon.h
  clients/upsrw.c
  clients/upsset.c
  clients/upsstats.c
  conf/ups.conf.sample
  docs/man/Makefile.am
  docs/man/libnutclient_misc.txt
  docs/man/libnutclient_tcp.txt
  docs/man/libnutclient_variables.txt
  docs/man/upscli_connect.txt
  docs/man/upscli_readline.txt
  docs/man/upscli_sendline.txt
  docs/man/upsrw.txt
  docs/nut.dict
  drivers/dummy-ups.c
  scripts/python/module/test_nutclient.py.in
  tests/NIT/.gitignore
  tests/NIT/README
  tests/NIT/nit.sh
Labels: documentation, C++, refactor/fightwarn

#1387 Confirm support for ECO Pro AVR CDS series EVER UPS
  data/driver.list.in
  drivers/ever-hid.c
  scripts/upower/95-upower-hid.hwdb
Labels: USB

#1381 drivers/cyberpower-mib.c: update cyberpower_power_status[]…
  drivers/cyberpower-mib.c
Labels: CyberPower (CPS), SNMP

#1383 Hook NIT into (dist)check targets
  Makefile.am
  NEWS
  UPGRADING
  ci_build.sh
  clients/nutclient.h
  clients/upssched.c
  common/common.c
  common/str.c
  configure.ac
  docs/configure.txt
  docs/man/clone.txt
  docs/man/dummy-ups.txt
  docs/nut-qa.txt
  docs/nut.dict
  drivers/clone-outlet.c
  drivers/clone.c
  drivers/dstate.c
  drivers/dummy-ups.c
  drivers/main.c
  include/common.h
  include/str.h
  scripts/python/Makefile.am
  server/sockdebug.c
  server/sstate.c
  tests/.gitignore
  tests/Makefile.am
  tests/NIT/.gitignore
  tests/NIT/Makefile.am
  tests/NIT/README
  tests/NIT/nit.sh
  tests/cpputest-client.cpp
Labels: CI

#1396 Update NUT HCL before 2.8.0 release
  data/driver.list.in
  docs/man/usbhid-ups.txt
Labels: HCL, documentation, DDL

#1399 drivers/libusb{0,1}.c: report why we could not open any HID devices
  drivers/libusb0.c
  drivers/libusb1.c
Labels: enhancement, documentation, USB

#1398 USB-capable drivers: introduce warn_if_bad_usb_port_filename()
  drivers/bcmxcp_usb.c
  drivers/blazer_usb.c
  drivers/nutdrv_qx.c
  drivers/richcomm_usb.c
  drivers/riello_usb.c
  drivers/tripplite_usb.c
  drivers/usb-common.c
  drivers/usb-common.h
  drivers/usbhid-ups.c
Labels: enhancement, documentation, USB
