Repository networkupstools/nut, pull requests merged in 2022-05, with the labels that each got.

#1409 Release notes for 2.8.1
  NEWS
  UPGRADING
Labels: documentation

#1408 Hcl updates
  data/driver.list.in
Labels: HCL

#1420 drivers/dummy-ups.c: use better portable st_mtime [fallout of #1383, fix #1415]
  drivers/dummy-ups.c
Labels: bug, CI, macOS

#1418 [HCL] Add known support for Salicru SPS 850 ADV T
  data/driver.list.in
  drivers/salicru-hid.c
  scripts/upower/95-upower-hid.hwdb
Labels: HCL, Salicru

#1417 Update docs about Solaris/illumos USB re-attachment
  docs/nut.dict
  docs/solaris-usb.txt
  scripts/Solaris/Makefile.am
  scripts/Solaris/reset-ups-usb-solaris.sh.sample
Labels: documentation, solaris

#1421 CircleCI project setup and some fixes for MacOS
  .circleci/config.yml
  ci_build.sh
  docs/config-prereqs.txt
  docs/nut.dict
  drivers/macosx-ups.c
Labels: bug, CI, macOS

#1425 CircleCI project setup matrix
  .circleci/config.yml
  ci_build.sh
Labels: CI, macOS

#1422 Adding insufficient memory libusb error handling to reconnect UPS ins…
  drivers/usbhid-ups.c
Labels: bug, USB, ready / gonna merge

#1424 SIGKILL an earlier driver instance if SIGTERM does not cut it [part of #1423 fix]
  drivers/main.c
  drivers/upsdrvctl.c
Labels: bug, service/daemon start/stop

#1432 Update cyberpower-mib.c C table ordering
  drivers/cyberpower-mib.c
Labels: bug, CyberPower (CPS), SNMP, ready / gonna merge
