Repository networkupstools/nut, pull requests merged in 2022-02, with the labels that each got.

#1277 configure.ac: improve "--with-drivers=name[,name...]" handling [issue #1271]
  configure.ac
  drivers/Makefile.am
Labels: CI, refactor/fightwarn

#1283 configure.ac: refine delivery of systemd related files
  configure.ac
  docs/configure.txt
  docs/man/Makefile.am
Labels: systemd, refactor/fightwarn, service/daemon start/stop

#431 Ever hid ups
  NEWS
  docs/acknowledgements.txt
  docs/nut.dict
  drivers/Makefile.am
  drivers/ever-hid.c
  drivers/ever-hid.h
  drivers/everups.c
  drivers/usbhid-ups.c
  scripts/upower/95-upower-hid.rules
Labels: enhancement, need testing, ready / code review, USB, needs-work, experimental-namespace

#1287 drivers/upsdrvctl: add "-d" option to pass current debug level from upsdrvctl to drivers
  docs/man/upsdrvctl.txt
  drivers/upsdrvctl.c
Labels: service/daemon start/stop

#683 Support debug level passed via ups.conf
  NEWS
  clients/upslog.c
  clients/upsmon.c
  conf/ups.conf.sample
  conf/upsd.conf.sample
  conf/upsmon.conf.sample.in
  docs/man/nutupsdrv.txt
  docs/man/ups.conf.txt
  docs/man/upsd.conf.txt
  docs/man/upsd.txt
  docs/man/upslog.txt
  docs/man/upsmon.conf.txt
  docs/man/upsmon.txt
  docs/nut.dict
  drivers/main.c
  scripts/systemd/nut-monitor.service.in
  scripts/systemd/nut-server.service.in
  server/conf.c
  server/conf.h
  server/upsd.c
Labels: service/daemon start/stop

#1301 drivers/libhid.c: fix misfire of fightwarn commit 58e5b49…
  drivers/libhid.c
Labels: USB, refactor/fightwarn

#1303 scripts/systemd/nut-driver@.service.in: make sure drivers always try to start
  scripts/systemd/nut-driver@.service.in
Labels: systemd, service/daemon start/stop

#1300 Enhance ways that upsd/upsmon can send signals to their running siblings
  clients/upsmon.c
  common/common.c
  conf/upsd.conf.sample
  conf/upsmon.conf.sample.in
  docs/man/upsd.conf.txt
  docs/man/upsd.txt
  docs/man/upsmon.conf.txt
  docs/man/upsmon.txt
  include/common.h
  scripts/systemd/nut-server.service.in
  server/conf.c
  server/upsd.c
Labels: systemd, refactor/fightwarn, service/daemon start/stop

#1293 drivers/main.c: allow to specify a user for each driver via ups.conf
  configure.ac
  docs/man/nutupsdrv.txt
  docs/man/ups.conf.txt
  drivers/dstate.c
  drivers/dstate.h
  drivers/main.c
Labels: USB, service/daemon start/stop, permissions

#1290 Fix incorrect limits for input and config voltages in APC report descriptor
  docs/hid-subdrivers.txt
  docs/nut.dict
  drivers/apc-hid.c
  drivers/cps-hid.c
  drivers/hidparser.c
  drivers/hidparser.h
  drivers/hidtypes.h
Labels: USB-HID encoding/LogMin/LogMax

#320 snmp-ups: add sysContact and sysLocation support
  docs/documentation.txt
  drivers/apc-ats-mib.c
  drivers/apc-mib.c
  drivers/baytech-mib.c
  drivers/bestpower-mib.c
  drivers/compaq-mib.c
  drivers/cyberpower-mib.c
  drivers/delta_ups-mib.c
  drivers/dstate.c
  drivers/eaton-ats16-nm2-mib.c
  drivers/eaton-ats16-nmc-mib.c
  drivers/eaton-pdu-genesis2-mib.c
  drivers/eaton-pdu-marlin-mib.c
  drivers/eaton-pdu-pulizzi-mib.c
  drivers/eaton-pdu-revelation-mib.c
  drivers/emerson-avocent-pdu-mib.c
  drivers/hpe-pdu-mib.c
  drivers/huawei-mib.c
  drivers/ietf-mib.c
  drivers/mge-mib.c
  drivers/netvision-mib.c
  drivers/powerware-mib.c
  drivers/raritan-pdu-mib.c
  drivers/raritan-px2-mib.c
  drivers/snmp-ups.c
  drivers/snmp-ups.h
  drivers/xppc-mib.c
  scripts/subdriver/gen-snmp-subdriver.sh
  server/upsd.c
  tools/Makefile.am
  tools/nut-dumpdiff.sh
Labels: enhancement, feature, ready / code review

#1315 Introduce `synchronous=auto` as new default value for the driver setting
  NEWS
  conf/ups.conf.sample
  docs/man/ups.conf.txt
  drivers/dstate.c
  drivers/main.c
  drivers/snmp-ups.c
Labels: SNMP, raspberry, service/daemon start/stop
