Repository networkupstools/nut, pull requests merged in 2022-11, with the labels that each got.

#1694 Debug chroot and setuid
  NEWS
  common/common.c
  docs/nut.dict
  tests/NIT/nit.sh
Labels: enhancement, CI

#1655 drivers/apc-hid.c, NEWS: Support VID:PID = 0x051d:0x0004 [#1429]
  NEWS
  drivers/apc-hid.c
  scripts/upower/95-upower-hid.hwdb
Labels: enhancement, need testing, APC, USB

#1701 Document builds with net-snmp in MSYS2 MinGW (Windows) [#1475]
  docs/config-prereqs.txt
  scripts/Windows/README
Labels: documentation, Windows, SNMP, CI

#1704 CI: Build missing prerequisites for NUT for Windows
  appveyor.yml
  scripts/Windows/README
  scripts/Windows/build-mingw-prereqs.sh
Labels: Windows, SNMP, CI

#1698 Integrate Eaton/nLogic pdu (snmp)
  data/driver.list.in
  drivers/Makefile.am
  drivers/eaton-pdu-nlogic-mib.c
  drivers/eaton-pdu-nlogic-mib.h
  drivers/snmp-ups.c
Labels: Eaton, SNMP, ready / gonna merge

#1708 CI: retain and publish conf_nut_report_feature
  .gitignore
  Makefile.am
  appveyor.yml
  ci_build.sh
  configure.ac
  m4/nut_report_feature.m4
  scripts/Windows/build-mingw-nut.sh
Labels: CI

#1713 snmp-ups: add support for HPE G2 Metered & Switched PDU
  NEWS
  data/driver.list.in
  docs/nut.dict
  drivers/Makefile.am
  drivers/hpe-pdu3-cis-mib.c
  drivers/hpe-pdu3-cis-mib.h
  drivers/snmp-ups.c
Labels: enhancement, SNMP

#1715 snmp-ups: split Eaton pw and pxgx_ups implementation
  NEWS
  UPGRADING
  docs/man/snmp-ups.txt
  docs/nut.dict
  drivers/Makefile.am
  drivers/eaton-ups-pwnm2-mib.c
  drivers/eaton-ups-pwnm2-mib.h
  drivers/eaton-ups-pxg-mib.c
  drivers/eaton-ups-pxg-mib.h
  drivers/snmp-ups.c
Labels: bug, Eaton

#1716 snmp-ups: fix "Warning: excessive poll failures"
  NEWS
  drivers/snmp-ups.c
Labels: enhancement, SNMP

#1719 configure: revise user/group/path settings and reporting
  .gitignore
  Makefile.am
  NEWS
  UPGRADING
  ci_build.sh
  configure.ac
  docs/configure.txt
  docs/nut.dict
  m4/nut_report_feature.m4
  scripts/Aix/nut.init.in
  scripts/HP-UX/postinstall.in
  scripts/Solaris/nut-server.xml.in
  scripts/Solaris/postinstall.in
  scripts/Solaris/postremove.in
  scripts/Solaris/svc-nut-monitor.in
  scripts/Solaris/svc-nut-server.in
Labels: CI, service/daemon start/stop

#1720 C99 fixes for the configure script
  m4/ax_c___attribute__.m4
  m4/ax_c_pragmas.m4
Labels: CI, refactor/fightwarn
