Repository networkupstools/nut, pull requests merged in 2023-04, with the labels that each got.

#1898 salicru-hid.c: Add known support for Salicru SPS 3000 ADV RT2
  data/driver.list.in
  drivers/salicru-hid.c
  scripts/upower/95-upower-hid.hwdb
Labels: enhancement, USB, Salicru

#1887 Add usb_resetter documentation for unreliable USB UPS interfaces (Linux, Python)
  NEWS
  docs/FAQ.txt
  docs/nut.dict
  scripts/usb_resetter/README.md
  scripts/usb_resetter/nut-driver.service
Labels: enhancement, documentation, service/daemon start/stop, Linux

#1906 Driver `reload` - basic support
  NEWS
  common/common.c
  configure.ac
  drivers/main.c
  drivers/main.h
  scripts/Solaris/nut-driver.xml.in
  scripts/systemd/nut-driver@.service.in
  server/conf.c
  server/sstate.c
  server/upsd.c
Labels: enhancement, service/daemon start/stop

#1911 Acquisition failed with daisychain epdu G3 with sensors
  drivers/snmp-ups.c
Labels: bug, need testing, Eaton, ready / gonna merge

#1912 Support signals (reload, dump...) in `upsdrvctl`, handle CLI `-c CMD` for drivers and upsdrvctl
  NEWS
  clients/upsmon.c
  configure.ac
  docs/man/nutupsdrv.txt
  docs/man/upsdrvctl.txt
  docs/nut.dict
  drivers/main.c
  drivers/main.h
  drivers/upsdrvctl.c
  scripts/Solaris/nut-driver.xml.in
  scripts/systemd/nut-driver@.service.in
  scripts/upsdrvsvcctl/nut-driver-enumerator.sh.in
  server/conf.c
  server/upsd.c
  tests/NIT/nit.sh
Labels: enhancement, documentation, service/daemon start/stop

#1922 Teach `upsdrvctl` and drivers to talk socket protocol to their other selves
  NEWS
  ci_build.sh
  clients/upsmon.c
  clients/upssched.c
  common/common.c
  common/upsconf.c
  docs/developers.txt
  docs/man/nutupsdrv.txt
  docs/man/ups.conf.txt
  docs/man/upsd.txt
  docs/man/upsdrvctl.txt
  docs/man/upsmon.txt
  docs/man/upssched.txt
  docs/nut.dict
  docs/sock-protocol.txt
  drivers/Makefile.am
  drivers/al175.c
  drivers/apcupsd-ups.c
  drivers/asem.c
  drivers/bcmxcp.c
  drivers/blazer.c
  drivers/clone-outlet.c
  drivers/clone.c
  drivers/dstate.c
  drivers/dstate.h
  drivers/dummy-ups.c
  drivers/generic_gpio_common.c
  drivers/generic_modbus.c
  drivers/genericups.c
  drivers/huawei-ups2000.c
  drivers/isbmex.c
  drivers/ivtscd.c
  drivers/liebert.c
  drivers/macosx-ups.c
  drivers/main.c
  drivers/main.h
  drivers/netxml-ups.c
  drivers/nut-ipmipsu.c
  drivers/nutdrv_qx.c
  drivers/phoenixcontact_modbus.c
  drivers/powercom.c
  drivers/powerman-pdu.c
  drivers/riello_ser.c
  drivers/riello_usb.c
  drivers/safenet.c
  drivers/skel.c
  drivers/snmp-ups.c
  drivers/socomec_jbus.c
  drivers/upsdrvctl.c
  drivers/upsdrvquery.c
  drivers/upsdrvquery.h
  drivers/usbhid-ups.c
  include/upsconf.h
  scripts/upsdrvsvcctl/nut-driver-enumerator.sh.in
  server/conf.c
  server/pipedebug.c
  server/sockdebug.c
  server/upsd.c
Labels: feature, service/daemon start/stop

#1909 Revise use of `VAR_SENSITIVE` and other minor issues in new GPIO drivers
  docs/man/generic_gpio.txt
  drivers/generic_gpio_common.c
  drivers/generic_gpio_libgpiod.c
  drivers/main.c
  tests/generic_gpio_utest.c
Labels: ready / gonna merge, GPIO

#1931 Some follow-up to new driver commands
  docs/new-drivers.txt
  docs/nut.dict
  drivers/main.c
  drivers/upsdrvctl.c
  drivers/upsdrvquery.c
  drivers/upsdrvquery.h
Labels: enhancement
