Repository networkupstools/nut, pull requests merged in 2023-11, with the labels that each got.

#2143 Adapt to builds with Slackware 15
  configure.ac
  docs/Makefile.am
  docs/config-prereqs.txt
  docs/man/al175.txt
  docs/man/apc_modbus.txt
  docs/man/apcupsd-ups.txt
  docs/man/asem.txt
  docs/man/bcmxcp.txt
  docs/man/bcmxcp_usb.txt
  docs/man/belkin.txt
  docs/man/belkinunv.txt
  docs/man/bestfcom.txt
  docs/man/bestfortress.txt
  docs/man/bestuferrups.txt
  docs/man/bestups.txt
  docs/man/blazer_ser.txt
  docs/man/blazer_usb.txt
  docs/man/clone.txt
  docs/man/dummy-ups.txt
  docs/man/etapro.txt
  docs/man/everups.txt
  docs/man/gamatronic.txt
  docs/man/genericups.txt
  docs/man/isbmex.txt
  docs/man/ivtscd.txt
  docs/man/liebert-esp2.txt
  docs/man/liebert.txt
  docs/man/macosx-ups.txt
  docs/man/masterguard.txt
  docs/man/metasys.txt
  docs/man/microdowell.txt
  docs/man/microsol-apc.txt
  docs/man/netxml-ups.txt
  docs/man/nutdrv_atcl_usb.txt
  docs/man/nutdrv_qx.txt
  docs/man/nutdrv_siemens_sitop.txt
  docs/man/oneac.txt
  docs/man/optiups.txt
  docs/man/pijuice.txt
  docs/man/powercom.txt
  docs/man/powerpanel.txt
  docs/man/rhino.txt
  docs/man/richcomm_usb.txt
  docs/man/safenet.txt
  docs/man/skel.txt
  docs/man/snmp-ups.txt
  docs/man/solis.txt
  docs/man/tripplite.txt
  docs/man/tripplitesu.txt
  docs/man/upscode2.txt
  docs/man/usbhid-ups.txt
  docs/man/victronups.txt
  docs/nut.dict
  m4/nut_check_asciidoc.m4
  m4/nut_check_headers_windows.m4
  scripts/Windows/Makefile.am
Labels: packaging, documentation, Windows, CI, Linux, portability, impacts-release-2.8.1

#2144 docs/config-prereqs.txt: small fixes to Slackware 15 chapter
  NEWS.adoc
  configure.ac
  docs/config-prereqs.txt
  docs/man/upsmon.txt
  docs/nut.dict
  lib/libnutclientstub.pc.in
Labels: documentation

#2146 m4/nut_compiler_family.m4: fix cross-compilation
  m4/nut_compiler_family.m4
Labels: CI, cross-builds, portability

#2147 m4/nut_check_python.m4: allow overriding of PYTHON{2,3}_SITE_PACKAGES
  m4/nut_check_python.m4
Labels: CI, python, cross-builds, portability, impacts-release-2.8.1

#2152 USB VID:PID - list multiple fitting driver names
  NEWS.adoc
  docs/man/nutscan_add_device_to_device.txt
  docs/man/nutscan_add_option_to_device.txt
  docs/nut.dict
  tools/nut-scanner/Makefile.am
  tools/nut-scanner/nutscan-device.h
  tools/nut-scanner/nutscan-display.c
  tools/nut-scanner/scan_usb.c
  tools/nut-usbinfo.pl
Labels: nut-scanner, USB, portability

#2158 Add recipes for PyPI publishing of PyNUTClient
  .github/workflows/PyNUTClient.yml
  NEWS.adoc
  scripts/python/Makefile.am
  scripts/python/README.adoc
  scripts/python/app/README.adoc
  scripts/python/module/README.adoc
  scripts/python/module/setup.py
Labels: packaging, CI, python, portability

#2155 Misc fixes
  drivers/dstate.c
  drivers/libhid.c
Labels: bug, impacts-release-2.8.1

#2161 server/Makefile.am: limit SSL and LIBWRAP options to upsd…
  server/Makefile.am
Labels: enhancement, packaging, CI, portability

#2156 Powerpanel
  NEWS.adoc
  drivers/powerp-bin.c
  drivers/powerp-txt.c
Labels: enhancement, CyberPower (CPS), serial port, Connection stability issues

#2166 .github/workflows/PyNUTClient.yml: limit auto-runs to NUT upstream [#2158]
  .github/workflows/PyNUTClient.yml
Labels: CI, python

#2160 upsd: introduce support for `ALLOW_NOT_ALL_LISTENERS` configuration toggle
  NEWS.adoc
  conf/nut.conf.sample
  conf/upsd.conf.sample
  docs/config-notes.txt
  docs/man/nut.conf.txt
  docs/man/upsd.conf.txt
  scripts/augeas/nutupsdconf.aug.in
  server/conf.c
  server/upsd.c
  server/upsd.h
Labels: enhancement, documentation, service/daemon start/stop

#2169 It's important to reset the "CAL" status. This will be define later if necessary.
  NEWS.adoc
  clients/upsmon.c
  clients/upsmon.h
  conf/upsmon.conf.sample.in
  docs/man/upsmon.conf.txt
  docs/nut.dict
Labels: bug, enhancement, upsmon, impacts-release-2.8.0, impacts-release-2.8.1

#2172 Spellcheck and asciidoc more
  Makefile.am
  data/html/Makefile.am
  data/html/README
  data/html/README.adoc
  docs/Makefile.am
  docs/nut.dict
  scripts/Makefile.am
  scripts/README
  scripts/README.adoc
  scripts/RedHat/README
  scripts/RedHat/README.adoc
  scripts/Solaris/Makefile.am
  scripts/Solaris/README
  scripts/Solaris/README.adoc
  scripts/Windows/DriverInstaller/README.adoc
  scripts/Windows/Installer/README.adoc
  scripts/Windows/Makefile.am
  scripts/Windows/README.adoc
  scripts/augeas/Makefile.am
  scripts/augeas/README.adoc
  scripts/devd/Makefile.am
  scripts/devd/README
  scripts/devd/README.adoc
  scripts/hotplug/Makefile.am
  scripts/hotplug/README
  scripts/hotplug/README.adoc
  scripts/python/Makefile.am
  scripts/python/README.adoc
  scripts/python/app/README.adoc
  scripts/python/module/README.adoc
  scripts/systemd/Makefile.am
  scripts/systemd/README
  scripts/systemd/README.adoc
  scripts/udev/Makefile.am
  scripts/udev/README
  scripts/udev/README.adoc
  scripts/ufw/Makefile.am
  scripts/upsdrvsvcctl/Makefile.am
  scripts/upsdrvsvcctl/README
  scripts/upsdrvsvcctl/README.adoc
  scripts/usb_resetter/README.adoc
  tests/NIT/Makefile.am
  tests/NIT/README.adoc
Labels: packaging, documentation, CI

#2173 Generate USB rules for FreeBSD quirks
  NEWS.adoc
  UPGRADING.adoc
  autogen.sh
  configure.ac
  docs/nut.dict
  scripts/devd/.gitignore
  scripts/devd/Makefile.am
  tools/Makefile.am
  tools/nut-usbinfo.pl
Labels: packaging, FreeBSD, portability

#2179 Report config parsing errors ("invalid directive")
  clients/upsmon.c
  clients/upssched.c
  drivers/snmp-ups.c
  server/conf.c
Labels: service/daemon start/stop

#2182 PyNUT license and other setup.py metadata
  .github/workflows/PyNUTClient.yml
  scripts/python/module/.gitignore
  scripts/python/module/Makefile.am
  scripts/python/module/setup.py.in
Labels: packaging, python

#2177 scripts/Solaris/nut.xml.in: revise "refresh" handling in umbrella SMF service
  scripts/Solaris/nut-driver-enumerator.xml.in
  scripts/Solaris/nut.xml.in
  scripts/upsdrvsvcctl/nut-driver-enumerator.sh.in
Labels: packaging, solaris, service/daemon start/stop

#2176 apcsmart-old: Fix return value for not writable variable
  drivers/apcsmart-old.c
Labels: bug, APC, ready / gonna merge, NUT protocols, impacts-release-2.8.1

#2188 battery.runtime, status OL/OB and more for Arduino subdriver
  NEWS.adoc
  drivers/arduino-hid.c
Labels: enhancement, arduino

#2191 Fix contents and recipes for Python packaging
  .github/workflows/PyNUTClient.yml
  scripts/python/module/.gitignore
  scripts/python/module/Makefile.am
  scripts/python/module/setup.py.in
  scripts/python/module/tox.ini
Labels: packaging, CI, python, portability

#2195 Fix fallout of TOCTOU fixes for socket file non-default permissions
  NEWS.adoc
  drivers/main.c
Labels: bug, service/daemon start/stop, portability, impacts-release-2.8.1

#2196 scripts/python/module/MANIFEST.in: distribute "tox.ini" in a different…
  scripts/python/module/MANIFEST.in
  scripts/python/module/Makefile.am
  scripts/python/module/setup.py.in
Labels: enhancement, packaging, python, portability

#2194 README.adoc: list helper orgs
  .github/pull_request_template.md
  README.adoc
  docs/Makefile.am
  docs/asciidoc-vars.conf
  docs/images/ci/AppVeyor_logo-2x.png
  docs/images/ci/AppVeyor_logo-ar21.png
  docs/images/ci/CircleCI_vertical_black_logo.png
  docs/images/ci/DO_Powered_by_Badge_blue.png
  docs/images/ci/DO_Powered_by_Badge_blue_140pxW.png
  docs/images/ci/GitHub-Mark-140pxW.png
  docs/images/ci/GitHub-Mark-ea2971cee799.png
  docs/images/ci/OC_logo-watercolor-256.png
  docs/images/ci/OC_logo_merged_140x26.png
  docs/images/ci/OC_logo_merged_171x32.png
  docs/images/ci/OC_logotype.png
  docs/images/ci/gandi-ar21.png
  docs/images/ci/gandi-ar21.svg
  docs/images/ci/jenkins-nut-transparent-bg-140pxW.png
  docs/images/ci/jenkins-nut.txt
  docs/nut.dict
Labels: documentation

#2198 drivers/libusb1.c: Remove unnecessary validation for bus_num
  drivers/libusb1.c
Labels: bug, USB, portability

#2202 Fix some issues for `NUT-Monitor` UI wrapper script choosing python implementations
  NEWS.adoc
  scripts/python/app/NUT-Monitor
Labels: bug, packaging, python, portability, impacts-release-2.8.1

#2205 Set the DesktopFileName in scripts/python/app/NUT-Monitor-py3qt5
  NEWS.adoc
  docs/nut.dict
  scripts/python/app/NUT-Monitor-py2gtk2.in
  scripts/python/app/NUT-Monitor-py3qt5.in
Labels: packaging, python, portability, impacts-release-2.8.1

#2206 CI: Make aspell tex module detection more reliable
  m4/nut_check_aspell.m4
Labels: packaging, CI, portability, impacts-release-2.8.1
