Repository networkupstools/nut, pull requests merged in 2023-01, with the labels that each got.

#1751 nutscan-init.c: adjust WIN32 shared library detection for SNMP and NEON
  tools/nut-scanner/nutscan-init.c
Labels: Windows, nut-scanner

#1752 Update docs wording and hints per user feedback
  INSTALL.nut
  NEWS
  docs/man/upsmon.txt
  docs/nut.dict
Labels: documentation

#1757 upsdrvctl.c: optional NUT_IGNORE_NOWAIT
  docs/man/ups.conf.txt
  docs/man/upsdrvctl.txt
  docs/man/upsdrvsvcctl.txt
  drivers/upsdrvctl.c
  scripts/systemd/nut-driver@.service.in
Labels: bug, systemd, service/daemon start/stop

#1755 Rename generated nut-common.tmpfiles(.in) => nut-common-tmpfiles.conf(.in)…
  UPGRADING
  autogen.sh
  configure.ac
  scripts/systemd/.gitignore
  scripts/systemd/Makefile.am
Labels: bug, documentation, systemd, Linux

#1763 Fix common USB matching options for riello, richcomm and nutdrv_atcl
  drivers/Makefile.am
  drivers/bcmxcp.h
  drivers/blazer_usb.c
  drivers/nutdrv_atcl_usb.c
  drivers/nutdrv_qx.c
  drivers/richcomm_usb.c
  drivers/riello_usb.c
Labels: bug, USB, Riello

#1766 Update USB matching options in man pages
  NEWS
  docs/man/Makefile.am
  docs/man/bcmxcp_usb.txt
  docs/man/blazer-common.txt
  docs/man/nut_usb_addvars.txt
  docs/man/nutdrv_atcl_usb.txt
  docs/man/nutdrv_qx.txt
  docs/man/richcomm_usb.txt
  docs/man/riello_usb.txt
  docs/man/tripplite_usb.txt
  docs/man/usbhid-ups.txt
  docs/nut.dict
  drivers/Makefile.am
  drivers/nutdrv_atcl_usb.c
  drivers/richcomm_usb.c
Labels: documentation, refactor/fightwarn

#1762 Update upsmon (several issues over time)
  NEWS
  clients/upsmon.c
  conf/upsmon.conf.sample.in
  configure.ac
  docs/FAQ.txt
  docs/configure.txt
  docs/man/belkinunv.txt
  docs/nut.dict
  scripts/Makefile.am
  scripts/RedHat/.gitignore
  scripts/RedHat/ups
  scripts/RedHat/ups.in
  scripts/RedHat/upsd
  scripts/RedHat/upsd.in
  scripts/RedHat/upsmon
  scripts/RedHat/upsmon.in
  server/conf.c
  server/conf.h
  server/upsd.c
Labels: bug, CI, refactor/fightwarn, upsmon

#1772 Minor fixes to nut-names text and some source comments
  docs/nut-names.txt
  drivers/libusb0.c
  drivers/libusb1.c
  drivers/usb-common.c
  drivers/usb-common.h
Labels: documentation, refactor/fightwarn

#1758 COPYING: update to acknowledge codebase picked up from BSD, curl and CC BY-SA sources over time
  COPYING
  docs/nut.dict
Labels: documentation

#1770 Introduce an `allow_duplicates` flag for common USB matching options
  NEWS
  docs/man/nut_usb_addvars.txt
  drivers/libusb0.c
  drivers/libusb1.c
Labels: feature, documentation, USB, USB-duplicate-devices

#1774 Set curDevice->Device during USB enumeration
  drivers/libusb1.c
Labels: bug, USB, USB-duplicate-devices

#1778 huawei-ups2000.c: log error code/string for Modbus failures
  drivers/huawei-ups2000.c
Labels: enhancement, ready / gonna merge, modbus, Huawei

#1777 Introduce optional `sd_notify()` support for READY, RELOADING and STOPPING states, and a WATCHDOG (if enabled)
  NEWS
  UPGRADING
  clients/upslog.c
  clients/upsmon.c
  common/Makefile.am
  common/common.c
  configure.ac
  docs/FAQ.txt
  docs/config-notes.txt
  docs/config-prereqs.txt
  docs/configure.txt
  docs/man/upsd.txt
  docs/nut.dict
  drivers/Makefile.am
  drivers/main.c
  include/common.h
  m4/nut_check_libsystemd.m4
  scripts/systemd/nut-driver@.service.in
  scripts/systemd/nut-monitor.service.in
  scripts/systemd/nut-server.service.in
  server/upsd.c
Labels: systemd, service/daemon start/stop, Linux

#1784 upsmon: Introduce POLLFAIL_LOG_THROTTLE_MAX
  NEWS
  clients/upsclient.h
  clients/upsmon.c
  clients/upsmon.h
  conf/upsmon.conf.sample.in
  docs/man/upsmon.conf.txt
  docs/man/upsmon.txt
  docs/nut.dict
Labels: enhancement, upsmon

#1771 Introduce `driver.state` tracking
  NEWS
  docs/nut-names.txt
  docs/nut.dict
  drivers/adelsystem_cbi.c
  drivers/bcmxcp_usb.c
  drivers/blazer_usb.c
  drivers/generic_modbus.c
  drivers/main.c
  drivers/nutdrv_qx.c
  drivers/powerman-pdu.c
  drivers/richcomm_usb.c
  drivers/riello_usb.c
  drivers/tripplite_usb.c
  drivers/usbhid-ups.c
Labels: feature, documentation, service/daemon start/stop

#1795 nut-scanner: report same USB matching values as seeked by libusb{0,1}.c
  NEWS
  ci_build.sh
  drivers/libusb0.c
  drivers/libusb1.c
  tools/nut-scanner/scan_usb.c
Labels: enhancement, nut-scanner, USB, USB-duplicate-devices

#1793 powercom driver should try harder to refresh data from device [#356]
  NEWS
  drivers/powercom.c
Labels: bug, Powercom

#1801 nut-{server,monitor,driver@}.service: clarify network-online.target dependency
  scripts/systemd/nut-driver@.service.in
  scripts/systemd/nut-monitor.service.in
  scripts/systemd/nut-server.service.in
Labels: documentation, systemd, service/daemon start/stop

#1800 UPGRADING: clarify improvements for "duplicate" USB device handling…
  UPGRADING
  docs/nut.dict
Labels: documentation, USB, USB-duplicate-devices

#1799 drivers/libusb{0,1}.c: clarify expected/got byte amounts (and fix typo)
  drivers/libusb0.c
  drivers/libusb1.c
Labels: bug, USB

#1788 Document configure options regarding Python (module, app)
  configure.ac
  docs/configure.txt
  m4/nut_check_python.m4
  m4/nut_report_feature.m4
Labels: documentation, python

#1804 Revisit NUT CI build on CentOS 6
  autogen.sh
  configure.ac
  docs/config-prereqs.txt
  docs/nut.dict
  m4/ax_check_compile_flag.m4
Labels: documentation, CI, Linux

#1806 upsdrvctl.c: add "-F"/"-B" args for drivers to be fore/back-grounded explicitly
  NEWS
  docs/man/upsdrvctl.txt
  drivers/upsdrvctl.c
Labels: enhancement, service/daemon start/stop

#1808 Add .editorconfig and revise doc files with style
  .editorconfig
  AUTHORS
  INSTALL.nut
  NEWS
  README
  TODO
  UPGRADING
  docs/.editorconfig
  docs/acknowledgements.txt
  docs/cables/apc.txt
  docs/cables/ge-imv-victron.txt
  docs/cables/mgeups.txt
  docs/cables/powerware.txt
  docs/cables/repotec.txt
  docs/config-prereqs.txt
  docs/developers.txt
  docs/maintainer-guide.txt
  docs/man/.editorconfig
  docs/man/apcsmart.txt
  docs/man/apcupsd-ups.txt
  docs/man/asem.txt
  docs/man/bcmxcp.txt
  docs/man/bcmxcp_usb.txt
  docs/man/belkinunv.txt
  docs/man/bestfortress.txt
  docs/man/blazer-common.txt
  docs/man/blazer_usb.txt
  docs/man/generic_modbus.txt
  docs/man/liebert-esp2.txt
  docs/man/macosx-ups.txt
  docs/man/nut-ipmipsu.txt
  docs/man/nut-scanner.txt
  docs/man/nut_usb_addvars.txt
  docs/man/nutdrv_qx.txt
  docs/man/nutdrv_siemens_sitop.txt
  docs/man/powerman-pdu.txt
  docs/man/socomec_jbus.txt
  docs/man/tripplite_usb.txt
  docs/man/ups.conf.txt
  docs/man/upsclient.txt
  docs/man/upslog.txt
  docs/nut.dict
  docs/snmp-subdrivers.txt
  docs/solaris-usb.txt
  scripts/RedHat/README
  scripts/Windows/DriverInstaller/README.txt
  scripts/Windows/README
  scripts/augeas/README
  scripts/devd/README
  scripts/hotplug/README
  scripts/python/README
  scripts/systemd/README
  scripts/udev/README
  scripts/ufw/README
  tests/NIT/README
  tools/nut-scanner/README
Labels: documentation, CI, refactor/fightwarn

#1811 nut-scanner: report bogus and duplicate serial numbers
  NEWS
  UPGRADING
  docs/man/Makefile.am
  docs/man/nut-scanner.txt
  docs/man/nutscan.txt
  docs/man/nutscan_add_option_to_device.txt
  docs/man/nutscan_cidr_to_ip.txt
  docs/man/nutscan_display_parsable.txt
  docs/man/nutscan_display_sanity_check.txt
  docs/man/nutscan_display_sanity_check_serial.txt
  docs/man/nutscan_display_ups_conf.txt
  docs/man/nutscan_display_ups_conf_with_sanity_check.txt
  docs/man/nutscan_free_device.txt
  docs/man/nutscan_get_serial_ports_list.txt
  docs/man/nutscan_init.txt
  docs/man/nutscan_new_device.txt
  docs/man/nutscan_scan_avahi.txt
  docs/man/nutscan_scan_eaton_serial.txt
  docs/man/nutscan_scan_ipmi.txt
  docs/man/nutscan_scan_nut.txt
  docs/man/nutscan_scan_snmp.txt
  docs/man/nutscan_scan_usb.txt
  docs/man/nutscan_scan_xml_http_range.txt
  tools/nut-scanner/nut-scan.h
  tools/nut-scanner/nut-scanner.c
  tools/nut-scanner/nutscan-display.c
Labels: enhancement, documentation, nut-scanner, USB-duplicate-devices

#1709 m4/nut_report_feature.m4: try to report configure invocation args
  clients/upsc.c
  clients/upscmd.c
  clients/upslog.c
  clients/upsmon.c
  clients/upsrw.c
  configure.ac
  docs/configure.txt
  drivers/main.c
  lib/libupsclient-config.in
  m4/nut_report_feature.m4
  server/upsd.c
  tools/nut-scanner/nut-scanner.c
Labels: packaging, CI

#1814 CI: add NIT tests for nut-scanner/libupsclient
  tests/NIT/nit.sh
  tools/nut-scanner/scan_avahi.c
  tools/nut-scanner/scan_nut.c
Labels: enhancement, nut-scanner, CI

#1816 nut-monitor.appdata.xml: add launchable=nut-monitor.desktop
  scripts/python/app/nut-monitor.appdata.xml
Labels: packaging, python

#1821 CI: quieter builds, easier log search
  Makefile.am
  ci_build.sh
  clients/Makefile.am
  common/Makefile.am
  configure.ac
  docs/Makefile.am
  docs/man/Makefile.am
  drivers/Makefile.am
  include/Makefile.am
  scripts/python/Makefile.am
  server/Makefile.am
  tests/Makefile.am
  tests/NIT/Makefile.am
  tools/nut-scanner/Makefile.am
Labels: CI

#1823 scripts/python/*: import definition and use-case of CheckUPSAvailable()…
  scripts/python/app/NUT-Monitor-py2gtk2.in
  scripts/python/app/NUT-Monitor-py3qt5.in
  scripts/python/module/PyNUT.py.in
  scripts/python/module/README
  scripts/python/module/test_nutclient.py.in
Labels: enhancement, python

#1828 Update nut-driver-enumerator.sh.in
  scripts/upsdrvsvcctl/nut-driver-enumerator.sh.in
Labels: refactor/fightwarn

#1829 Refine `configure --enable-inplace-runtime` and `CONFIG_FLAGS` support
  clients/Makefile.am
  clients/upsc.c
  clients/upscmd.c
  clients/upslog.c
  clients/upsmon.c
  clients/upsrw.c
  common/common.c
  configure.ac
  drivers/main.c
  include/common.h
  lib/libupsclient-config.in
  server/upsd.c
  tools/nut-scanner/Makefile.am
  tools/nut-scanner/nut-scanner.c
Labels: enhancement, packaging, CI, refactor/fightwarn

#1825 configure.ac: prepare nut-common-tmpfiles.conf.in subdir…
  configure.ac
Labels: packaging, documentation, systemd, service/daemon start/stop, Linux

#1822 systemd: call ExecStartPre to `systemd-tmpfiles --create`
  configure.ac
  scripts/systemd/nut-driver-enumerator.service.in
  scripts/systemd/nut-driver@.service.in
  scripts/systemd/nut-monitor.service.in
  scripts/systemd/nut-server.service.in
Labels: packaging, systemd, CI

#1819 Use libusb_get_device_address(), not libusb_get_port_number()
  drivers/bcmxcp_usb.c
  drivers/libusb1.c
  drivers/nutdrv_atcl_usb.c
  drivers/richcomm_usb.c
  tools/nut-scanner/scan_usb.c
Labels: enhancement, nut-scanner, USB

#1835 Deliver the NUT configuration report (if "kept")
  Makefile.am
  UPGRADING
  configure.ac
  docs/configure.txt
  m4/nut_report_feature.m4
Labels: packaging, documentation, CI

#1834 Explicitly distribute all files generated by `autogen.sh` into dist tarballs
  autogen.sh
  ci_build.sh
  configure.ac
  docs/Makefile.am
  docs/man/Makefile.am
  scripts/Makefile.am
  scripts/Solaris/Makefile.am
  scripts/augeas/Makefile.am
  scripts/devd/Makefile.am
  scripts/hotplug/Makefile.am
  scripts/udev/Makefile.am
  tools/Makefile.am
Labels: bug, CI

#1820 Improve Best Fortress driver
  NEWS
  drivers/bestfortress.c
Labels: bug
