Repository networkupstools/nut, pull requests merged in 2023-08, with the labels that each got.

#2006 Update `tools/nut-ddl-dump.sh` for nut-ddl issue #32
  NEWS
  drivers/cyberpower-mib.c
  drivers/cyberpower-mib.h
  drivers/snmp-ups.c
  tools/nut-ddl-dump.sh
Labels: enhancement, documentation, DDL

#2004 Extend support to CPS devices which report the shorter Vendor OID as their sysOID
  NEWS
  drivers/cyberpower-mib.c
  drivers/cyberpower-mib.h
  drivers/snmp-ups.c
Labels: CyberPower (CPS), SNMP

#2010 Introduce state entry timestamping and use it to fix `apcupsd-ups`
  NEWS
  common/common.c
  common/state.c
  configure.ac
  docs/Makefile.am
  drivers/apcupsd-ups.c
  drivers/dstate.c
  drivers/dstate.h
  include/common.h
  include/state.h
  tests/.gitignore
  tests/Makefile.am
  tests/nuttimetest.c
Labels: bug, enhancement, APC

#1982 Added more variables from the CyberPower MIB
  NEWS
  drivers/cyberpower-mib.c
Labels: enhancement, CyberPower (CPS), SNMP, ready / gonna merge

#2016 drivers/apcsmart(-old).c: do not abort on bad caps, skip them like before
  NEWS
  drivers/apcsmart-old.c
  drivers/apcsmart.c
Labels: bug, APC, serial port, impacts-release-2.8.0

#2013 Define `upsd` option to `LISTEN *` as specifically handling both IPv4 and IPv6 "ANY" address
  NEWS
  UPGRADING
  conf/upsd.conf.sample
  configure.ac
  docs/config-notes.txt
  docs/man/upsd.conf.txt
  docs/security.txt
  scripts/augeas/nutupsdconf.aug.in
  server/upsd.c
Labels: enhancement, documentation, ready / code review, ready / gonna merge, service/daemon start/stop

#2005 drivers/nutdrv_qx.c: improve Armac subdriver
  NEWS
  data/driver.list.in
  docs/nut.dict
  docs/nutdrv_qx-subdrivers.txt
  drivers/nutdrv_qx.c
Labels: bug, need testing, Qx protocol driver, impacts-release-2.8.0

#2023 Fix some fallout of NUT v2.8.0 release for `mge-shut` (serial HID) driver
  NEWS
  drivers/hidparser.c
  drivers/hidparser.h
  drivers/libhid.c
  drivers/libhid.h
  drivers/libshut.c
  drivers/mge-hid.c
  drivers/usbhid-ups.c
Labels: MGE, serial port, impacts-release-2.8.0

#2029 Revert "cyberpower-mib: fix instant command declarations"
  NEWS
  drivers/cyberpower-mib.c
Labels: bug, CyberPower (CPS), SNMP, impacts-release-2.8.0
