Repository networkupstools/nut, pull requests merged in 2024-01, with the labels that each got.

#2256 CI: make use of `ccache` namespace support, where possible
  Makefile.am
  ci_build.sh
  clients/Makefile.am
  common/Makefile.am
  configure.ac
  docs/Makefile.am
  docs/cables/Makefile.am
  docs/man/Makefile.am
  drivers/Makefile.am
  include/Makefile.am
  lib/Makefile.am
  scripts/python/module/Makefile.am
  server/Makefile.am
  tests/Makefile.am
  tests/NIT/Makefile.am
  tools/Makefile.am
  tools/nut-scanner/Makefile.am
Labels: enhancement, CI, portability

#2247 nut-scanner: fix device-name collisions in generated conf
  docs/man/nut-scanner.txt
  tests/NIT/nit.sh
  tools/nut-scanner/nutscan-device.c
  tools/nut-scanner/nutscan-device.h
  tools/nut-scanner/nutscan-display.c
Labels: enhancement, nut-scanner

#2263 Fix builds `--without-usb`
  NEWS.adoc
  drivers/Makefile.am
Labels: bug, APC, USB, CI, modbus, impacts-release-2.8.1

#2261 Retouch nut-scanner docs and NEWS
  NEWS.adoc
  docs/man/nut-scanner.txt
  docs/nut.dict
Labels: enhancement, documentation, nut-scanner

#2260 Help users about `nutdrv_qx` and similar drivers built for serial-only support but used for USB devices
  NEWS.adoc
  drivers/libusb0.c
  drivers/libusb1.c
  drivers/main.c
Labels: enhancement, USB, Qx protocol driver, serial port

#2221 nut-scanner USB: disable some output results
  NEWS.adoc
  UPGRADING.adoc
  docs/man/Makefile.am
  docs/man/nut-scanner.txt
  docs/man/nutscan_add_option_to_device.txt
  docs/man/nutscan_scan_usb.txt
  docs/nut.dict
  tools/nut-scanner/Makefile.am
  tools/nut-scanner/README.adoc
  tools/nut-scanner/nut-scan.h
  tools/nut-scanner/nut-scanner.c
  tools/nut-scanner/nutscan-device.c
  tools/nut-scanner/nutscan-device.h
  tools/nut-scanner/nutscan-display.c
  tools/nut-scanner/scan_usb.c
Labels: nut-scanner, Home Assistant (HA)

#2154 support Armac O/850E/PSW #2153
  drivers/nutdrv_qx.c
Labels: bug, USB, Qx protocol driver, impacts-release-2.8.1

#2269 docs/ci-farm-lxc-setup.txt: suggest dependency packages for LXC and QEMU
  docs/ci-farm-lxc-setup.txt
  docs/nut.dict
Labels: documentation, CI

#2268 Update upsd/upsmon conf docs regarding NSS and general asciidoc markup
  docs/man/upsd.conf.txt
  docs/man/upsmon.conf.txt
  docs/security.txt
Labels: bug, documentation

#682 Nut driver enumerator optimize
  NEWS.adoc
  configure.ac
  docs/config-notes.txt
  docs/man/nut-driver-enumerator.txt
  docs/man/upsdrvsvcctl.txt
  docs/nut.dict
  scripts/Solaris/nut-driver-enumerator.xml.in
  scripts/systemd/.gitignore
  scripts/systemd/Makefile.am
  scripts/systemd/README.adoc
  scripts/systemd/nut-driver-enumerator-daemon-activator.path.in
  scripts/systemd/nut-driver-enumerator-daemon-activator.service.in
  scripts/systemd/nut-driver-enumerator-daemon.service.in
  scripts/systemd/nut-driver-enumerator.path.in
  scripts/systemd/nut-driver-enumerator.service.in
  scripts/upsdrvsvcctl/nut-driver-enumerator.sh.in
  scripts/upsdrvsvcctl/upsdrvsvcctl.in
Labels: service/daemon start/stop

#2279 clients/upsmon.c: fix offstate not being a requirement for a critical UPS on OFF
  NEWS.adoc
  clients/upsmon.c
  docs/nut.dict
Labels: bug, upsmon, Shutdowns and overrides and battery level triggers, impacts-release-2.8.1

#2284 Some generic codebase/recipe clean-up per recent investigation
  Makefile.am
  clients/Makefile.am
  common/Makefile.am
  data/html/Makefile.am
  drivers/apc-ats-mib.c
  drivers/apc-epdu-mib.c
  drivers/apc-pdu-mib.c
  drivers/bestpower-mib.c
  drivers/delta_ups-mib.c
  drivers/eaton-pdu-nlogic-mib.c
  drivers/eaton-pdu-pulizzi-mib.c
  drivers/emerson-avocent-pdu-mib.c
  drivers/hpe-pdu3-cis-mib.c
  drivers/huawei-mib.c
  drivers/raritan-pdu-mib.c
  drivers/raritan-px2-mib.c
  drivers/xppc-mib.c
  scripts/python/module/Makefile.am
  scripts/subdriver/gen-snmp-subdriver.sh
  tools/nut-usbinfo.pl
Labels: CI, refactor/fightwarn

#2287 m4/nut_check_libgd.m4: fall back to checking with explicit -lpng …
  m4/nut_check_libgd.m4
Labels: enhancement, CI, CGI

#2286 Eaton: add support for EMP002 on ATS16 NM2 with SNMP
  drivers/eaton-ats16-nm2-mib.c
Labels: enhancement, Eaton, SNMP
