Repository networkupstools/nut, pull requests merged in 2024-12, with the labels that each got.

#2704 drivers/mge-hid.c: comment regarding ChargerType
  drivers/mge-hid.c
Labels: Eaton, USB, ECO mode

#2689 Updated Phoenix Contact modbus driver for newer models
  NEWS.adoc
  drivers/phoenixcontact_modbus.c
Labels: enhancement, modbus

#2707 tests: Do not expect signals to be messages
  tests/nutipc_ut.cpp
Labels: bug, C++, CI, portability

#2706 core ipc: Handle select returning EINTR
  include/nutipc.hpp
Labels: bug, C++, CI, portability

#2692 First commit of NHS drivers/nhs-nut.c
  NEWS.adoc
  configure.ac
  data/driver.list.in
  docs/man/Makefile.am
  docs/man/nhs_ser.txt
  docs/nut.dict
  drivers/Makefile.am
  drivers/nhs_ser.c
Labels: feature, serial port, Linux, portability

#2684 ecomode_addon-2
  data/cmdvartab
  docs/nut-names.txt
  drivers/mge-hid.c
  drivers/usbhid-ups.c
  drivers/usbhid-ups.h
Labels: enhancement, Eaton, USB, ready / gonna merge, ECO/ESS/HE/ABM modes

#2709 Update upsmon ALARM support and related themes from issue #415
  NEWS.adoc
  UPGRADING.adoc
  clients/upsmon.c
  clients/upsmon.h
  common/common.c
  common/nutconf.cpp
  common/nutwriter.cpp
  conf/upsmon.conf.sample.in
  docs/man/nutconf.txt
  docs/man/upsmon.conf.txt
  docs/man/upsmon.txt
  docs/new-drivers.txt
  docs/nut.dict
  drivers/netxml-ups.c
  drivers/usbhid-ups.c
  include/nutconf.hpp
  scripts/augeas/nutupsmonconf.aug.in
  scripts/misc/notifyme-debug
  tests/NIT/Makefile.am
  tests/NIT/nit.sh
  tools/nutconf/nutconf-cli.cpp
Labels: documentation, need testing, upsmon

#2711 drivers/cps-hid.c, NEWS.adoc: add ups.temperature [#2711]
  NEWS.adoc
  drivers/cps-hid.c
Labels: enhancement, CyberPower (CPS), USB

#2713 add-missing-vars-desc
  data/cmdvartab
  docs/nut-names.txt
  docs/nut.dict
Labels: documentation

#2715 Refactor `nhs_ser` driver
  docs/new-drivers.txt
  docs/nut-names.txt
  drivers/nhs_ser.c
Labels: need testing, refactor/fightwarn, serial port

#2712 First attempt to add support for Ippon Innova RT 3/1
  NEWS.adoc
  data/driver.list.in
  docs/man/nutdrv_qx.txt
  docs/nut.dict
  docs/nutdrv_qx-subdrivers.txt
  drivers/Makefile.am
  drivers/nutdrv_qx.c
  drivers/nutdrv_qx_blazer-common.c
  drivers/nutdrv_qx_blazer-common.h
  drivers/nutdrv_qx_innovart31.c
  drivers/nutdrv_qx_innovart31.h
Labels: HCL, DDL, Ippon, Qx protocol driver, WinPower

#2716 New method to automatically detect phoenixcontact_modbus UPS model
  NEWS.adoc
  drivers/phoenixcontact_modbus.c
Labels: modbus, Incorrect or missing readings

#2718 `usbhid-ups` generally: apply disable_fix_report_desc…; `cps-hid`: fix mismatched LogMax between input/output voltages (bad encoding)
  NEWS.adoc
  drivers/cps-hid.c
  drivers/hidparser.c
  drivers/hidtypes.h
  drivers/usbhid-ups.c
Labels: bug, need testing, CyberPower (CPS), USB, service/daemon start/stop, USB-HID encoding/LogMin/LogMax, Incorrect or missing readings, impacts-release-2.8.1, impacts-release-2.8.2

#2722 Fix default CPS HID timings
  NEWS.adoc
  UPGRADING.adoc
  docs/man/usbhid-ups.txt
  drivers/cps-hid.c
  drivers/usbhid-ups.c
  drivers/usbhid-ups.h
Labels: enhancement, documentation, need testing, CyberPower (CPS), USB

#2723 usbhid-ups: added support for 0x09d6:0x0001 (KSTAR) UPSes using MGE HID
  NEWS.adoc
  data/driver.list.in
  docs/nut.dict
  drivers/mge-hid.c
  scripts/upower/95-upower-hid.hwdb
Labels: enhancement, USB, MGE

#2726 scripts/Windows/README.adoc: update dependency build instructions
  docs/nut.dict
  scripts/Windows/README.adoc
Labels: documentation, Windows, CI

#2731 m4: revise libmodbus detection
  m4/nut_check_libavahi.m4
  m4/nut_check_libfreeipmi.m4
  m4/nut_check_libgd.m4
  m4/nut_check_libgpiod.m4
  m4/nut_check_libmodbus.m4
  m4/nut_check_libneon.m4
  m4/nut_check_libnetsnmp.m4
  m4/nut_check_libnss.m4
  m4/nut_check_libopenssl.m4
  m4/nut_check_libpowerman.m4
  m4/nut_check_libregex.m4
  m4/nut_check_libsystemd.m4
  m4/nut_check_libusb.m4
Labels: packaging, APC, USB, CI, modbus, portability

#2733 Add documentation references to service units and program help
  NEWS.adoc
  clients/upsc.c
  clients/upscmd.c
  clients/upslog.c
  clients/upsmon.c
  clients/upsrw.c
  clients/upssched.c
  common/common.c
  configure.ac
  drivers/blazer_ser.c
  drivers/blazer_usb.c
  drivers/main.c
  drivers/nutdrv_qx.c
  drivers/upsdrvctl.c
  drivers/usbhid-ups.c
  include/common.h
  scripts/Solaris/nut-driver-enumerator.xml.in
  scripts/Solaris/nut-driver.xml.in
  scripts/Solaris/nut-monitor.xml.in
  scripts/Solaris/nut-server.xml.in
  scripts/Windows/wininit.c
  scripts/systemd/nut-driver-enumerator-daemon-activator.path.in
  scripts/systemd/nut-driver-enumerator-daemon-activator.service.in
  scripts/systemd/nut-driver-enumerator-daemon.service.in
  scripts/systemd/nut-driver-enumerator.path.in
  scripts/systemd/nut-driver-enumerator.service.in
  scripts/systemd/nut-driver.target
  scripts/systemd/nut-driver@.service.in
  scripts/systemd/nut-monitor.service.in
  scripts/systemd/nut-server.service.in
  scripts/systemd/nut.target
  scripts/upsdrvsvcctl/nut-driver-enumerator.sh.in
  scripts/upsdrvsvcctl/upsdrvsvcctl.in
  server/pipedebug.c
  server/sockdebug.c
  server/upsd.c
  tools/nut-scanner/Makefile.am
  tools/nut-scanner/nut-scanner.c
  tools/nutconf/nutconf-cli.cpp
Labels: packaging, documentation, systemd
