Repository networkupstools/nut, pull requests merged in 2024-07, with the labels that each got.

#2503 .circleci/config.yml: bump XCode version…
  .circleci/config.yml
  configure.ac
  docs/config-prereqs.txt
  tests/NIT/nit.sh
Labels: CI, macOS, python, portability

#2501 Provide a private copy of `telnetlib` for `PyNUTClient`
  NEWS.adoc
  ci_build.sh
  configure.ac
  docs/nut.dict
  scripts/python/Makefile.am
  scripts/python/README.adoc
  scripts/python/module/Makefile.am
  scripts/python/module/PyNUT.py.in
  scripts/python/module/nut_telnetlib.py
  scripts/python/module/setup.py.in
  scripts/python/module/test_nutclient.py.in
Labels: packaging, python, Low-hanging fruit, portability, impacts-release-2.8.2

#2504 Remember shared-object file names seen during build for later run-time `dlopen()` preference
  NEWS.adoc
  UPGRADING.adoc
  common/common.c
  docs/nut.dict
  m4/ax_realpath_lib.m4
  m4/nut_check_libavahi.m4
  m4/nut_check_libfreeipmi.m4
  m4/nut_check_libneon.m4
  m4/nut_check_libnetsnmp.m4
  m4/nut_check_libusb.m4
  m4/nut_compiler_family.m4
  tools/nut-scanner/nutscan-init.c
Labels: packaging, nut-scanner, portability, DMF, impacts-release-2.8.2

#2505 Follow-up for `nut_telnetlib.py` stashed copy, and some more recipe refactoring around Python deliverables
  COPYING
  configure.ac
  docs/nut.dict
  m4/nut_check_python.m4
  scripts/python/module/nut_telnetlib.py
Labels: packaging, ready / code review, python, portability, impacts-release-2.8.2

#2506 Revise recipes for MacOS builds and general portability, and fix some `AX_REALPATH_LIB` aspects
  .circleci/config.yml
  NEWS.adoc
  ci_build.sh
  configure.ac
  docs/config-prereqs.txt
  docs/nut.dict
  drivers/Makefile.am
  drivers/snmp-ups.h
  m4/ax_c_pragmas.m4
  m4/ax_realpath_lib.m4
  m4/nut_check_libnetsnmp.m4
  m4/nut_check_libregex.m4
  scripts/augeas/gen-nutupsconf-aug.py.in
  tests/cpputest-client.cpp
  tests/cpputest.cpp
  tests/example.cpp
  tests/nutclienttest.cpp
  tests/nutconf_parser_ut.cpp
  tests/nutconf_ut.cpp
  tests/nutipc_ut.cpp
  tests/nutstream_ut.cpp
  tools/nut-scanner/Makefile.am
  tools/nut-scanner/nutscan-init.c
  tools/nut-scanner/scan_snmp.c
Labels: SNMP, CI, macOS, SSL/NSS, portability, impacts-release-2.8.2

#2508 Revise recipes for MacOS builds and general portability some more, and update docs
  .circleci/config.yml
  ci_build.sh
  docs/developers.txt
Labels: documentation, CI, macOS, portability, impacts-release-2.8.2

#2507 FTY branch remerge from master/dev as of 2024-07-04
  .circleci/config.yml
  COPYING
  NEWS.adoc
  UPGRADING.adoc
  ci_build.sh
  clients/upsmon.c
  common/common.c
  common/dmfcore.c
  configure.ac
  docs/config-prereqs.txt
  docs/configure.txt
  docs/developers.txt
  docs/nut.dict
  drivers/Makefile.am
  drivers/main.c
  drivers/snmp-ups.h
  m4/ax_c_pragmas.m4
  m4/ax_lua.m4
  m4/ax_realpath_lib.m4
  m4/nut_check_libavahi.m4
  m4/nut_check_libfreeipmi.m4
  m4/nut_check_liblua.m4
  m4/nut_check_libneon.m4
  m4/nut_check_libnetsnmp.m4
  m4/nut_check_libregex.m4
  m4/nut_check_libusb.m4
  m4/nut_check_python.m4
  m4/nut_compiler_family.m4
  scripts/DMF/dmfify-mib.sh
  scripts/DMF/nut_cpp
  scripts/augeas/gen-nutupsconf-aug.py.in
  scripts/python/Makefile.am
  scripts/python/README.adoc
  scripts/python/module/Makefile.am
  scripts/python/module/PyNUT.py.in
  scripts/python/module/nut_telnetlib.py
  scripts/python/module/setup.py.in
  scripts/python/module/test_nutclient.py.in
  server/upsd.c
  tests/NIT/nit.sh
  tests/cpputest-client.cpp
  tests/cpputest.cpp
  tests/example.cpp
  tests/nutclienttest.cpp
  tests/nutconf_parser_ut.cpp
  tests/nutconf_ut.cpp
  tests/nutipc_ut.cpp
  tests/nutstream_ut.cpp
  tools/nut-scanner/Makefile.am
  tools/nut-scanner/nutscan-init.c
  tools/nut-scanner/scan_snmp.c
Labels: enhancement, CI, macOS, python, portability, DMF

#2514 m4/nut_check_libavahi.m4: fix detection of SOFILE/SOPATH…
  m4/nut_check_libavahi.m4
Labels: bug, CI, avahi

#2520 Teach `nut-scanner` to parallelize scans across many IP address ranges
  NEWS.adoc
  docs/man/Makefile.am
  docs/man/nut-scanner.txt
  docs/man/nutscan.txt
  docs/man/nutscan_add_ip_range.txt
  docs/man/nutscan_free_ip_ranges.txt
  docs/man/nutscan_init_ip_ranges.txt
  docs/man/nutscan_ip_ranges_iter_inc.txt
  docs/man/nutscan_ip_ranges_iter_init.txt
  docs/man/nutscan_scan_ipmi.txt
  docs/man/nutscan_scan_nut.txt
  docs/man/nutscan_scan_snmp.txt
  docs/man/nutscan_scan_xml_http_range.txt
  docs/man/nutscan_stringify_ip_ranges.txt
  docs/nut.dict
  tools/nut-scanner/nut-scan.h
  tools/nut-scanner/nut-scanner.c
  tools/nut-scanner/nutscan-ip.c
  tools/nut-scanner/nutscan-ip.h
  tools/nut-scanner/scan_ipmi.c
  tools/nut-scanner/scan_nut.c
  tools/nut-scanner/scan_snmp.c
  tools/nut-scanner/scan_xml_http.c
Labels: enhancement, nut-scanner

#2521 Implement `nut-scanner -m auto*` modes on WIN32
  NEWS.adoc
  common/common.c
  configure.ac
  m4/nut_check_headers_windows.m4
  tools/nut-scanner/Makefile.am
  tools/nut-scanner/nut-scanner.c
  tools/nut-scanner/nutscan-init.c
  tools/nut-scanner/nutscan-ip.c
  tools/nut-scanner/scan_nut.c
  tools/nut-scanner/scan_snmp.c
  tools/nut-scanner/scan_xml_http.c
Labels: Windows, nut-scanner, Windows-not-on-par-with-POSIX, portability

#2518 Fix `nut-scanner` IPv6 support
  NEWS.adoc
  clients/upsc.c
  clients/upsclient.c
  docs/man/nut-scanner.txt
  tools/nut-scanner/Makefile.am
  tools/nut-scanner/nut-scanner.c
  tools/nut-scanner/nutscan-init.c
  tools/nut-scanner/nutscan-ip.c
  tools/nut-scanner/scan_eaton_serial.c
  tools/nut-scanner/scan_ipmi.c
  tools/nut-scanner/scan_nut.c
  tools/nut-scanner/scan_snmp.c
  tools/nut-scanner/scan_xml_http.c
Labels: bug, nut-scanner, impacts-release-2.8.2

#2526 Assorted codebase cleanup while preparing work for issue #2523
  UPGRADING.adoc
  clients/upsclient.h
  drivers/nut-libfreeipmi.c
  drivers/usb-common.c
  drivers/usb-common.h
  tools/nut-scanner/nut-scan.h
  tools/nut-scanner/nutscan-device.c
  tools/nut-scanner/nutscan-device.h
  tools/nut-scanner/nutscan-display.c
  tools/nut-scanner/nutscan-init.c
  tools/nut-scanner/nutscan-ip.h
  tools/nut-scanner/scan_avahi.c
  tools/nut-scanner/scan_eaton_serial.c
  tools/nut-scanner/scan_ipmi.c
  tools/nut-scanner/scan_nut.c
  tools/nut-scanner/scan_snmp.c
  tools/nut-scanner/scan_usb.c
  tools/nut-scanner/scan_xml_http.c
Labels: enhancement, documentation, nut-scanner

#2528 Implement parallel IPMI scanning in `nut-scanner`, and address some `valgrind` complaints
  Makefile.am
  NEWS.adoc
  UPGRADING.adoc
  common/common.c
  docs/developers.txt
  docs/nut.dict
  scripts/Makefile.am
  scripts/valgrind/.valgrind.supp
  scripts/valgrind/README.adoc
  scripts/valgrind/valgrind.sh
  tools/nut-scanner/Makefile.am
  tools/nut-scanner/nut-scan.h
  tools/nut-scanner/nut-scanner.c
  tools/nut-scanner/nutscan-display.c
  tools/nut-scanner/nutscan-init.c
  tools/nut-scanner/nutscan-ip.c
  tools/nut-scanner/nutscan-serial.c
  tools/nut-scanner/scan_avahi.c
  tools/nut-scanner/scan_eaton_serial.c
  tools/nut-scanner/scan_ipmi.c
  tools/nut-scanner/scan_nut.c
  tools/nut-scanner/scan_nut_simulation.c
  tools/nut-scanner/scan_snmp.c
  tools/nut-scanner/scan_usb.c
  tools/nut-scanner/scan_xml_http.c
Labels: bug, enhancement, nut-scanner, CI

#2531 CI: Sanity-check generated `ChangeLog.html` with more attention to detail
  .gitignore
  ci_build.sh
  docs/Makefile.am
  scripts/Windows/build-mingw-nut.sh
Labels: bug, packaging, documentation, Windows, CI, portability

#2530 scripts/python/Makefile.am: revise *.po => *.mo generation [#2529]
  scripts/Solaris/Makefile.am
  scripts/python/Makefile.am
  tests/Makefile.am
Labels: CI, python, portability

#2480 drivers/powercom-hid.c: fix bytes order in shutdown commands
  NEWS.adoc
  UPGRADING.adoc
  docs/man/usbhid-ups.txt
  docs/nut.dict
  drivers/powercom-hid.c
  drivers/usbhid-ups.c
Labels: bug, USB, Powercom, portability, impacts-release-2.8.2

#2532 Detect `libupsclient` SO filename, revise shared object extensions
  NEWS.adoc
  README.adoc
  clients/.gitignore
  clients/Makefile.am
  clients/upsclient.c
  clients/upsclient.h
  clients/upsmon.c
  common/nutwriter.cpp
  docs/Makefile.am
  docs/config-prereqs.txt
  docs/man/hwmon_ina219.txt
  docs/nut.dict
  drivers/apc-mib.c
  drivers/hwmon_ina219.c
  drivers/libhid.c
  drivers/libhid.h
  drivers/masterguard.c
  drivers/mge-utalk.h
  drivers/microdowell.c
  drivers/nutdrv_qx.c
  drivers/usbhid-ups.c
  include/nut_platform.h
  include/parseconf.h
  m4/ax_realpath_lib.m4
  server/netssl.c
  server/nut_ctype.h
  tools/nut-scanner/Makefile.am
  tools/nut-scanner/nut-scan.h
  tools/nut-scanner/nut-scanner.c
  tools/nut-scanner/nutscan-init.c
Labels: documentation, nut-scanner, CI, refactor/fightwarn, portability

#2535 Fix `ChangeLog` content ordering (avoid interleaved dates) and build ordering (avoid potential conflicts and CPU resource waste in parallel builds)
  Makefile.am
  NEWS.adoc
  UPGRADING.adoc
  docs/Makefile.am
  tools/gitlog2changelog.py.in
Labels: packaging, documentation, CI, portability, impacts-release-2.8.2

#2537 Introduce a `NUT_CHECK_BOOL` m4 scriptlet and a header with `nut_bool_t` type
  NEWS.adoc
  configure.ac
  docs/nut.dict
  drivers/bcmxcp.c
  drivers/belkin-hid.c
  drivers/isbmex.c
  drivers/libhid.c
  drivers/powercom.c
  drivers/powerp-bin.c
  drivers/powerp-txt.c
  drivers/tripplite.c
  drivers/tripplite_usb.c
  include/Makefile.am
  include/nut_bool.h
  m4/nut_check_bool.m4
  tests/.gitignore
  tests/Makefile.am
  tests/nutbooltest.c
Labels: enhancement, packaging, refactor/fightwarn, portability, impacts-release-2.8.0, impacts-release-2.7.4, impacts-release-2.7.3-or-older, impacts-release-2.8.1, impacts-release-2.8.2, C-bool

#2538 Fix `ChangeLog.html-contentchecked` logic to survive several mentions of date+author; fix host `pkg-config` vs. cross-builds
  NEWS.adoc
  docs/Makefile.am
  m4/nut_check_libusb.m4
  m4/nut_check_pkgconfig.m4
Labels: CI, cross-builds, portability, DMF

#2540 drivers/cps-hid.c: support variables available on CP1350EPFCLCD UPS
  NEWS.adoc
  data/driver.list.in
  drivers/cps-hid.c
Labels: enhancement, CyberPower (CPS), USB, Incorrect or missing readings

#2542 Fix `make distcheck*` builds to use passed `DISTCHECK_FLAGS` to sub-`configure` script
  Makefile.am
  NEWS.adoc
  ci_build.sh
  scripts/Makefile.am
  scripts/augeas/Makefile.am
  scripts/udev/Makefile.am
Labels: bug, enhancement, CI, refactor/fightwarn, portability

#2546 Import from FTY branch: "ambient" data point naming
  NEWS.adoc
  docs/nut-names.txt
  docs/nut.dict
Labels: documentation, DMF

#2545 drivers/usbhid-ups.c, NEWS.adoc: for devices with VendorID=`0x06da`…
  NEWS.adoc
  drivers/usbhid-ups.c
Labels: enhancement, documentation, USB, Qx protocol driver

#2548 Refactor and fix check for process name by PID; update docs for ASCII in config files
  clients/upsclient.c
  common/common.c
  conf/hosts.conf.sample
  conf/nut.conf.sample
  conf/ups.conf.sample
  conf/upsd.conf.sample
  conf/upsd.users.sample
  conf/upsmon.conf.sample.in
  conf/upssched.conf.sample.in
  conf/upsset.conf.sample
  docs/man/hosts.conf.txt
  docs/man/nut.conf.txt
  docs/man/ups.conf.txt
  docs/man/upsd.conf.txt
  docs/man/upsmon.conf.txt
  docs/man/upssched.conf.txt
  docs/man/upsset.conf.txt
  include/common.h
Labels: enhancement, documentation, service/daemon start/stop, portability

#2552 Update log messages and comments in "state" machinery
  common/state.c
  docs/net-protocol.txt
  docs/sock-protocol.txt
  drivers/dstate.c
  drivers/main.c
  server/netget.c
  server/netset.c
  server/sstate.c
Labels: enhancement, NUT protocols

#2554 Provide a single script for Git-based version with `configure` and `nut_version.h` contexts
  .gitignore
  Makefile.am
  NEWS.adoc
  UPGRADING.adoc
  autogen.sh
  ci_build.sh
  common/common.c
  configure.ac
  docs/config-prereqs.txt
  docs/nut.dict
  include/Makefile.am
  tools/Makefile.am
  tools/gitlog2version.sh
  tools/nut-scanner/nut-scanner.c
Labels: packaging, CI

#2560 FTY branch remerge from master/dev as of 2024-07-28
  .gitignore
  Makefile.am
  NEWS.adoc
  UPGRADING.adoc
  autogen.sh
  ci_build.sh
  clients/upsclient.c
  common/common.c
  common/state.c
  conf/hosts.conf.sample
  conf/nut.conf.sample
  conf/ups.conf.sample
  conf/upsd.conf.sample
  conf/upsd.users.sample
  conf/upsmon.conf.sample.in
  conf/upssched.conf.sample.in
  conf/upsset.conf.sample
  configure.ac
  data/driver.list.in
  docs/config-prereqs.txt
  docs/maintainer-guide.txt
  docs/man/hosts.conf.txt
  docs/man/nut.conf.txt
  docs/man/ups.conf.txt
  docs/man/upsd.conf.txt
  docs/man/upsmon.conf.txt
  docs/man/upssched.conf.txt
  docs/man/upsset.conf.txt
  docs/net-protocol.txt
  docs/nut.dict
  docs/sock-protocol.txt
  drivers/cps-hid.c
  drivers/dstate.c
  drivers/libshut.c
  drivers/main.c
  drivers/snmp-ups.h
  drivers/usbhid-ups.c
  include/Makefile.am
  include/common.h
  m4/nut_check_aspell.m4
  scripts/DMF/dmf-test.c
  scripts/DMF/jsonify-mib.py.in
  server/netget.c
  server/netset.c
  server/sstate.c
  tools/Makefile.am
  tools/gitlog2version.sh
  tools/nut-scanner/nut-scanner.c
  tools/nut-scanner/scan_snmp.c
Labels: CI, portability, DMF

#2568 Teach `upsdrvctl` to list device config names and show run-time `status`, and to optionally hide the start-up banner
  NEWS.adoc
  UPGRADING.adoc
  clients/upslog.c
  clients/upsmon.c
  common/common.c
  conf/nut.conf.sample
  docs/maintainer-guide.txt
  docs/man/nut.conf.txt
  docs/man/upsdrvctl.txt
  docs/man/upsdrvsvcctl.txt
  docs/nut.dict
  docs/sock-protocol.txt
  drivers/dstate.c
  drivers/main.c
  drivers/upsdrvctl.c
  drivers/upsdrvquery.c
  include/common.h
  scripts/upsdrvsvcctl/upsdrvsvcctl.in
  server/netget.c
  server/netmisc.c
  server/upsd.c
  tests/NIT/nit.sh
  tools/gitlog2version.sh
Labels: enhancement, documentation, service/daemon start/stop, NUT protocols
