Repository networkupstools/nut, pull requests merged in 2024-08, with the labels that each got.

#2572 Follow-up to `upsdrvctl status` on Windows, add `LOGOUT` to local socket protocol
  NEWS.adoc
  common/common.c
  docs/man/upsdrvctl.txt
  docs/man/upsdrvsvcctl.txt
  docs/sock-protocol.txt
  drivers/dstate.c
  drivers/dstate.h
  drivers/upsdrvctl.c
  drivers/upsdrvquery.c
  scripts/upsdrvsvcctl/upsdrvsvcctl.in
  server/netmisc.c
  tools/gitlog2version.sh
Labels: enhancement, documentation, Windows, solaris, NUT protocols, Linux, portability

#2583 Fix uses of `banner_is_disabled()` to not preclude `-V` printouts; common formation of the banner string; better detection of `time.h` methods
  NEWS.adoc
  clients/upsc.c
  clients/upscmd.c
  clients/upslog.c
  clients/upsmon.c
  clients/upsrw.c
  common/common.c
  configure.ac
  docs/nut.dict
  drivers/apc_modbus.c
  drivers/huawei-ups2000.c
  drivers/main.c
  drivers/upsdrvctl.c
  include/common.h
  include/timehead.h
  scripts/Windows/build-mingw-nut.sh
  scripts/Windows/wininit.c
  server/upsd.c
  tools/nut-scanner/Makefile.am
  tools/nut-scanner/nut-scanner.c
  tools/nutconf/nutconf-cli.cpp
Labels: bug, Windows, nut-scanner, refactor/fightwarn, service/daemon start/stop, cross-builds, portability, nutconf

#2589 Fix compilation on newer gcc-13.x and clang-18, fix `nut-scanner` offering config values not applicable for some USB drivers
  NEWS.adoc
  UPGRADING.adoc
  clients/nutclient.cpp
  clients/upsclient.c
  clients/upslog.c
  clients/upssched.c
  common/common.c
  common/nutconf.cpp
  common/nutstream.cpp
  common/nutwriter.cpp
  common/parseconf.c
  docs/configure.txt
  docs/nut.dict
  drivers/apc_modbus.c
  drivers/apcsmart-old.c
  drivers/apcsmart.c
  drivers/bcmxcp.c
  drivers/belkin-hid.c
  drivers/bestups.c
  drivers/blazer_usb.c
  drivers/dstate.c
  drivers/etapro.c
  drivers/hidparser.c
  drivers/huawei-ups2000.c
  drivers/main.c
  drivers/mge-hid.c
  drivers/mge-xml.c
  drivers/netxml-ups.c
  drivers/nut-libfreeipmi.c
  drivers/nutdrv_atcl_usb.c
  drivers/nutdrv_qx.c
  drivers/nutdrv_qx_masterguard.c
  drivers/openups-hid.c
  drivers/powercom.c
  drivers/rhino.c
  drivers/richcomm_usb.c
  drivers/riello.c
  drivers/solis.c
  drivers/tripplite_usb.c
  include/str.h
  m4/ax_c_pragmas.m4
  server/netssl.c
  server/sockdebug.c
  server/upsd.c
  tools/nut-scanner/scan_avahi.c
  tools/nut-scanner/scan_usb.c
Labels: enhancement, nut-scanner, CI, portability

#2571 `drivers/libusb{0,1}.c`: `{,nut_}libusb_open()`: try to re-fetch `curDevice->Vendor`, `Product`, `Serial` if `NULL`, after claiming it by other criteria
  NEWS.adoc
  data/driver.list.in
  drivers/libusb0.c
  drivers/libusb1.c
  drivers/mge-hid.c
Labels: enhancement, USB, portability, Incorrect or missing readings, impacts-release-2.8.2

#2592 Introduce a simple PoC for NUT readings seen in FUSE file system
  NEWS.adoc
  docs/nut.dict
  scripts/fuse/README.adoc
  scripts/fuse/execfuse-nut/getattr
  scripts/fuse/execfuse-nut/init
  scripts/fuse/execfuse-nut/read_file
  scripts/fuse/execfuse-nut/readdir
Labels: enhancement, portability

#2594 Follow-up for the FUSE PoC: integrate with `make check-NIT` prepared sandboxes
  scripts/fuse/README.adoc
  scripts/fuse/execfuse-nut/getattr
  scripts/fuse/execfuse-nut/read_file
  scripts/fuse/execfuse-nut/readdir
Labels: enhancement, documentation

#2595 CI: libgd, ci_build.sh, SYSTEMD_VERSION
  .gitignore
  Makefile.am
  ci_build.sh
  configure.ac
  m4/nut_check_libgd.m4
  m4/nut_check_libsystemd.m4
Labels: enhancement, systemd, CI, portability

#2596 Introduce `scripts/systemd/nut-sleep.service` unit
  NEWS.adoc
  scripts/systemd/Makefile.am
  scripts/systemd/nut-driver-enumerator-daemon-activator.service.in
  scripts/systemd/nut-driver-enumerator-daemon.service.in
  scripts/systemd/nut-driver-enumerator.path.in
  scripts/systemd/nut-driver-enumerator.service.in
  scripts/systemd/nut-driver.target
  scripts/systemd/nut-driver@.service.in
  scripts/systemd/nut-monitor.service.in
  scripts/systemd/nut-server.service.in
  scripts/systemd/nut-sleep.service
  scripts/systemd/nut.target
  scripts/systemd/nutshutdown.in
Labels: enhancement, systemd, service/daemon start/stop, Shutdowns and overrides and battery level triggers

#2597 Implement (currently systemd) OS sleeping support in `upsmon` client
  Makefile.am
  NEWS.adoc
  UPGRADING.adoc
  clients/upsmon.c
  clients/upsmon.h
  common/common.c
  common/nutconf.cpp
  common/nutwriter.cpp
  conf/upsmon.conf.sample.in
  configure.ac
  docs/man/nutconf.txt
  docs/man/upsmon.conf.txt
  docs/man/upsmon.txt
  docs/nut.dict
  include/common.h
  include/nutconf.hpp
  m4/nut_check_libsystemd.m4
  scripts/augeas/nutupsmonconf.aug.in
  scripts/systemd/Makefile.am
  tests/NIT/Makefile.am
  tests/NIT/README.adoc
  tests/NIT/nit.sh
  tools/nutconf/nutconf-cli.cpp
Labels: enhancement, need testing, systemd, solaris, service/daemon start/stop, Linux, Windows-not-on-par-with-POSIX, Shutdowns and overrides and battery level triggers

#2600 `upsdrvctl` should warn when used on systemd/SMF capable builds
  NEWS.adoc
  configure.ac
  docs/FAQ.txt
  docs/man/upsdrvctl.txt
  docs/nut.dict
  drivers/upsdrvctl.c
  scripts/Solaris/nut-driver.xml.in
  scripts/systemd/nut-driver@.service.in
  scripts/systemd/nutshutdown.in
  tests/NIT/nit.sh
Labels: enhancement, systemd, solaris, service/daemon start/stop

#2606 drivers/main.c: do not overwrite set allow_killpower flag with defaults
  drivers/main.c
Labels: bug, impacts-release-2.8.2
