Repository networkupstools/nut, pull requests merged in 2024-11, with the labels that each got.

#2669 drivers/ydn23.h: fix bad lchksum
  drivers/ydn23.h
Labels: bug

#2637 EATON HID: add missing usages and paths
  NEWS.adoc
  clients/status.h
  clients/upsmon.c
  clients/upsmon.h
  common/nutconf.cpp
  common/nutwriter.cpp
  conf/upsmon.conf.sample.in
  data/cmdvartab
  docs/man/upsmon.conf.txt
  docs/man/upsmon.txt
  docs/nut-names.txt
  docs/nut.dict
  drivers/mge-hid.c
  drivers/usbhid-ups.c
  drivers/usbhid-ups.h
  include/nutconf.hpp
  scripts/augeas/nutupsmonconf.aug.in
  scripts/python/app/NUT-Monitor-py2gtk2.in
  scripts/python/app/NUT-Monitor-py3qt5.in
  tools/nutconf/nutconf-cli.cpp
Labels: enhancement, DDL, Eaton, USB, ready / gonna merge, Incorrect or missing readings, impacts-release-2.8.2, ECO mode

#2671 Fix: Prevent UPS Lockup on '0 HID Objects' by Reconnecting on Stale Data
  NEWS.adoc
  drivers/usbhid-ups.c
Labels: APC, USB, Connection stability issues

#2682 Fix fallout of #2671 and complete the feature with optional `interrupt_pipe_no_events_tolerance` setting
  NEWS.adoc
  docs/man/usbhid-ups.txt
  drivers/usbhid-ups.c
  include/nutconf.hpp
Labels: bug, APC, USB, Connection stability issues

#2678 common/common.c, include/common.h: follow-up for `upsnotify()`
  NEWS.adoc
  common/common.c
  docs/nut.dict
  include/common.h
Labels: enhancement, systemd, solaris, service/daemon start/stop

#2703 data/driver.list.in: add usbhid-ups supported Ippon models
  data/driver.list.in
Labels: HCL, documentation, USB, Ippon

#2701 drivers/libusb1.c: fix wrong return value of nut_libusb_get_interrupt()
  drivers/libusb1.c
Labels: bug, USB, impacts-release-2.8.0, impacts-release-2.8.1, impacts-release-2.8.2

#2700 docs/developers.txt: clarify pragmas in switch/case/default vs. enum
  docs/developers.txt
  docs/nut.dict
Labels: documentation, refactor/fightwarn, portability

#2699 `drivers/libusb{0,1}.c`: Revise "insufficient permissions on everything" messages
  NEWS.adoc
  drivers/dstate.c
  drivers/libusb0.c
  drivers/libusb1.c
Labels: enhancement, USB

#2698 Eaton 9SX/9PX Fix for battery.voltage
  drivers/mge-hid.c
Labels: enhancement, need testing, Eaton, USB, Incorrect or missing readings

#2687 NUT-Monitor UI and PyNUT: better support for relative path to module, better detect usable interpreter
  scripts/python/app/NUT-Monitor
  scripts/python/app/NUT-Monitor-py2gtk2.in
  scripts/python/app/NUT-Monitor-py3qt5.in
Labels: packaging, python, portability

#2660 EATON HID: add missing usages and paths (addon) - ABM Statuses
  drivers/mge-hid.c
Labels: enhancement, Eaton, USB, ECO mode
