Repository networkupstools/nut, pull requests merged in 2024-10, with the labels that each got.

#2649 Support `LIBUSB_DEBUG=NUM` setting in `ups.conf`
  NEWS.adoc
  conf/ups.conf.sample
  docs/man/nut_usb_addvars.txt
  docs/man/ups.conf.txt
  drivers/main.c
  include/nutconf.hpp
Labels: enhancement, USB

#2654 HCL/DDL bump 2024-10-01
  data/driver.list.in
  docs/man/usbhid-ups.txt
Labels: HCL, documentation

#2662 Update mge-hid.c: Added ups.beeper.status support for Masterpower MF-UPS650VA
  NEWS.adoc
  docs/nut.dict
  drivers/mge-hid.c
Labels: enhancement, MGE, impacts-release-2.8.2

#2658 introduce further handling and notifiers for ALARM status
  NEWS.adoc
  UPGRADING.adoc
  clients/status.h
  clients/upsmon.c
  clients/upsmon.h
  common/nutconf.cpp
  common/nutwriter.cpp
  conf/upsmon.conf.sample.in
  docs/man/nutconf.txt
  docs/man/upsmon.conf.txt
  docs/man/upsmon.txt
  docs/nut.dict
  include/nutconf.hpp
  scripts/augeas/nutupsmonconf.aug.in
  scripts/python/app/NUT-Monitor-py2gtk2.in
  scripts/python/app/NUT-Monitor-py3qt5.in
  tools/nutconf/nutconf-cli.cpp
Labels: enhancement, upsmon

#2664 Fix some asciidoc cross-file links
  INSTALL.nut.adoc
  Makefile.am
  README.adoc
  docs/Makefile.am
  docs/acknowledgements.txt
  docs/asciidoc-vars.conf
  docs/asciidoc.conf
  docs/ci-farm-lxc-setup.txt
  docs/images/ci/ci-root.css
  docs/images/ci/jenkins-nut.css
  docs/man/usbhid-ups.txt
  docs/nut.dict
Labels: documentation, CI
