Repository networkupstools/nut, pull requests merged in 2024-09, with the labels that each got.

#2564 Fix log flood from `apcsmart`
  NEWS.adoc
  docs/nut.dict
  drivers/apcsmart.c
Labels: need testing, APC, serial port, Connection stability issues

#2610 CI: pass NIT on android
  NEWS.adoc
  tests/NIT/nit.sh
Labels: CI, portability

#2604 Workaround for broken Eaton (and others?) string language ID descriptor
  NEWS.adoc
  drivers/blazer_usb.c
  drivers/libusb0.c
  drivers/libusb1.c
  drivers/nutdrv_qx.c
  drivers/riello_usb.c
  drivers/tripplite_usb.c
  drivers/usb-common.c
  drivers/usb-common.h
  drivers/usbhid-ups.c
Labels: enhancement, Eaton, USB, Incorrect or missing readings, impacts-release-2.8.2

#2623 docs: finalize re-licensing of `scripts/installer` …
  COPYING
  configure.ac
  docs/acknowledgements.txt
  docs/nut.dict
  scripts/installer/.gitignore
  scripts/installer/Makefile.am
  scripts/installer/README.adoc
  scripts/installer/common_EN/license.txt
Labels: enhancement, documentation, impacts-release-2.8.2

#2626 Port and use a variant of `nut_usb_get_string()` for `nut-scanner`
  NEWS.adoc
  drivers/usb-common.c
  m4/ax_realpath_lib.m4
  tools/nut-scanner/scan_usb.c
Labels: enhancement, packaging, nut-scanner, USB, portability, Incorrect or missing readings

#2625 docs/man/nut_usb_addvars.txt: make a NOTE of LibUSB specific debugging
  docs/man/nut_usb_addvars.txt
Labels: enhancement, documentation, USB

#2624 `Makefile.am`: `install-win-bundle-thirdparty` DLL check: cover `libexecdir`
  Makefile.am
Labels: Windows, CI, portability, impacts-release-2.8.1, impacts-release-2.8.2

#2628 drivers/main.c: upsdrv_banner(): keep NUT version near NUT project name…
  drivers/main.c
Labels: enhancement, documentation, service/daemon start/stop

#2630 docs/man/usbhid-ups.txt: add missing lowbatt argument
  docs/man/usbhid-ups.txt
Labels: enhancement, documentation, USB

#2629 Support for Liebert GXE 1-3KVA series
  NEWS.adoc
  data/driver.list.in
  docs/man/Makefile.am
  docs/man/liebert-gxe.txt
  docs/nut.dict
  drivers/Makefile.am
  drivers/liebert-gxe.c
  drivers/ydn23.h
Labels: feature, HCL, DDL, USB, liebert, serial port, ECO mode
