Repository networkupstools/nut, pull requests merged in 2025-01, with the labels that each got.

#2739 Add support for STATEPATH via ups.conf
  NEWS.adoc
  UPGRADING.adoc
  common/nutconf.cpp
  conf/ups.conf.sample
  conf/upsd.conf.sample
  configure.ac
  docs/man/ups.conf.txt
  docs/man/upsd.conf.txt
  drivers/main.c
  include/nutconf.hpp
  scripts/augeas/nutupsconf.aug.tpl
  scripts/systemd/.gitignore
  scripts/systemd/Makefile.am
  scripts/systemd/nut.target.in
  server/conf.c
Labels: documentation, service/daemon start/stop

#2749 Windows cross build documentation cleaned
  scripts/Windows/README.adoc
Labels: packaging, documentation, Windows, CI, portability, impacts-release-2.8.2

#2743 Follow up on documentation links, and revise Solaris/illumos packaging aids
  INSTALL.nut.adoc
  Jenkinsfile-dynamatrix
  Makefile.am
  NEWS.adoc
  README.adoc
  UPGRADING.adoc
  autogen.sh
  ci_build.sh
  clients/nutclient.cpp
  common/common.c
  configure.ac
  docs/Makefile.am
  docs/asciidoc-vars.conf
  docs/config-prereqs.txt
  docs/configure.txt
  docs/man/.gitignore
  docs/man/Makefile.am
  docs/nut.dict
  drivers/apc-mib.c
  drivers/bcmxcp_usb.c
  drivers/blazer_ser.c
  drivers/blazer_usb.c
  drivers/delta_ups-hid.c
  drivers/dstate.c
  drivers/hidparser.c
  drivers/nutdrv_qx_voltronic.c
  scripts/Solaris/Makefile.am
  scripts/Solaris/nut-driver-enumerator.xml.in
  scripts/Solaris/nut-driver.xml.in
  scripts/Solaris/nut-monitor.xml.in
  scripts/Solaris/nut-server.xml.in
  scripts/Solaris/nut.xml.in
  scripts/Solaris/pkginfo.in
  scripts/Solaris/precheck.py.in
  scripts/installer/common/shutdown
  scripts/systemd/nut-driver-enumerator-daemon-activator.path.in
  scripts/systemd/nut-driver-enumerator-daemon-activator.service.in
  scripts/systemd/nut-driver-enumerator-daemon.service.in
  scripts/systemd/nut-driver-enumerator.path.in
  scripts/systemd/nut-driver-enumerator.service.in
  scripts/systemd/nut-driver@.service.in
  scripts/systemd/nut-monitor.service.in
  scripts/systemd/nut-server.service.in
  scripts/systemd/nut.target.in
  scripts/upsdrvsvcctl/nut-driver-enumerator.sh.in
  tests/getvaluetest.c
  tests/nutlogtest.c
  tools/nut-dumpdiff.sh
  tools/nut-scanner/nutscan-ip.c
Labels: packaging, documentation, systemd, CI, solaris, portability

#2734 Update driver.list.in
  data/driver.list.in
Labels: HCL, USB, Qx protocol driver

#2746 Introduce service wrapping for `upslog` client daemon, and `nut-systemd.preset` file
  Makefile.am
  NEWS.adoc
  UPGRADING.adoc
  clients/upslog.c
  configure.ac
  docs/configure.txt
  docs/man/upslog.txt
  docs/nut.dict
  scripts/Solaris/.gitignore
  scripts/Solaris/Makefile.am
  scripts/Solaris/nut-logger.xml.in
  scripts/Solaris/svc-nut-logger.in
  scripts/systemd/.gitignore
  scripts/systemd/Makefile.am
  scripts/systemd/nut-driver-enumerator-daemon-activator.path.in
  scripts/systemd/nut-driver-enumerator-daemon-activator.service.in
  scripts/systemd/nut-driver-enumerator-daemon.service.in
  scripts/systemd/nut-driver-enumerator.path.in
  scripts/systemd/nut-driver-enumerator.service.in
  scripts/systemd/nut-driver.target.in
  scripts/systemd/nut-driver@.service.in
  scripts/systemd/nut-logger.service.in
  scripts/systemd/nut-monitor.service.in
  scripts/systemd/nut-server.service.in
  scripts/systemd/nut-sleep.service
  scripts/systemd/nut-systemd.preset
  scripts/systemd/nut.target.in
  scripts/systemd/nutshutdown.in
Labels: packaging, documentation, systemd, solaris

#2751 drivers/liebert-gxe.c: fix bad backup time report
  drivers/liebert-gxe.c
Labels: bug, USB, liebert

#2753 Revise `upslog` service integration, allow to limit loop count, use it in NIT
  NEWS.adoc
  UPGRADING.adoc
  clients/Makefile.am
  clients/upslog.c
  docs/man/upslog.txt
  scripts/systemd/nut-logger.service.in
  tests/NIT/nit.sh
Labels: documentation, systemd, CI

#2752 drivers/cps-hid.c, NEWS.adoc: try to fix frequency scaling dynamically
  NEWS.adoc
  drivers/cps-hid.c
Labels: CyberPower (CPS), USB, impacts-release-2.8.0, Incorrect or missing readings, impacts-release-2.8.2

#2750 When starting a driver program to force UPS shutdown, kill off running siblings
  NEWS.adoc
  drivers/main.c
Labels: enhancement, need testing, service/daemon start/stop, Windows-not-on-par-with-POSIX

#2759 Fix NUT for Windows build
  NEWS.adoc
  docs/nut.dict
  m4/nut_check_libnetsnmp.m4
  scripts/Windows/.gitignore
  scripts/Windows/README.adoc
  scripts/Windows/build-mingw-nut.sh
Labels: documentation, Windows, SNMP, CI, portability

#2761 Makefile.am, configure.ac, NEWS.adoc: implement `make install-as-root` [#1298]
  INSTALL.nut.adoc
  Makefile.am
  NEWS.adoc
  configure.ac
  docs/config-notes.txt
  docs/config-prereqs.txt
  scripts/Solaris/Makefile.am
Labels: CI, Solaris/illumos, service/daemon start/stop, Linux, portability

#2767 Fix MacOS CI hiccups with newer python 3.13
  scripts/python/Makefile.am
  scripts/python/module/Makefile.am
  tools/gitlog2changelog.py.in
Labels: packaging, CI, macOS, python, portability, impacts-release-2.8.2

#2771 Report full path to driver socket (when we listen or fail to connect)
  NEWS.adoc
  clients/cgilib.c
  clients/upssched.c
  clients/upsset.c
  clients/upsstats.c
  common/common.c
  common/nutstream.cpp
  common/upsconf.c
  common/wincompat.c
  conf/nut.conf.sample
  configure.ac
  drivers/clone-outlet.c
  drivers/clone.c
  drivers/dstate.c
  drivers/dummy-ups.c
  drivers/hwmon_ina219.c
  drivers/main.c
  drivers/nhs_ser.c
  drivers/snmp-ups.c
  drivers/upsdrvctl.c
  drivers/upsdrvquery.c
  drivers/upsdrvquery.h
  include/common.h
  include/wincompat.h
  scripts/Windows/wininit.c
  server/conf.c
  server/desc.c
  server/pipedebug.c
  server/sstate.c
  server/upsd.c
  server/upstype.h
  server/user.c
Labels: enhancement, refactor/fightwarn, C-str

#2768 drivers/nutdrv_qx_voltronic.c, NEWS.adoc: fix battery.runtime…
  NEWS.adoc
  drivers/nutdrv_qx_voltronic.c
Labels: enhancement, Qx protocol driver, impacts-release-2.8.2

#2776 Fix Appveyor CI builds
  appveyor.yml
  scripts/Windows/build-mingw-prereqs.sh
Labels: Windows, CI, portability

#2774 Fix PEP-0625 naming for PyNUTClient tarball
  NEWS.adoc
  UPGRADING.adoc
  scripts/python/README.adoc
  scripts/python/module/Makefile.am
  scripts/python/module/README.adoc
  scripts/python/module/setup.py.in
Labels: packaging, python

#2775 Run PyNUTClient workflow with interpreter v3.13
  .github/workflows/PyNUTClient.yml
  scripts/python/module/README.adoc
Labels: packaging, python

#2778 Fix Appveyor CI to use NUT libmodbus fork
  appveyor.yml
  ci_build.sh
  configure.ac
  drivers/Makefile.am
  m4/nut_check_libmodbus.m4
  m4/nut_check_libusb.m4
  scripts/Windows/build-mingw-prereqs.sh
Labels: packaging, Windows, USB, CI, modbus, portability

#2781 Fix `ci_build.sh` auto-detection of paths and flags for trickier distros
  Makefile.am
  ci_build.sh
  configure.ac
  docs/config-prereqs.txt
  docs/nut.dict
  m4/nut_check_libltdl.m4
  tests/Makefile.am
  tools/gitlog2version.sh
Labels: CI, macOS, Solaris/illumos, portability

#2785 Fix `make memcheck`
  common/nutstream.cpp
  configure.ac
  drivers/generic_gpio_common.c
  drivers/generic_gpio_common.h
  scripts/valgrind/.gitignore
  scripts/valgrind/.valgrind.supp
  scripts/valgrind/README.adoc
  scripts/valgrind/valgrind.sh.in
  tests/Makefile.am
  tests/generic_gpio_utest.c
  tests/nutconf_ut.cpp
Labels: bug, C++, GPIO

#2787 DDL bump 20241001
  data/driver.list.in
Labels: DDL

#2779 feat: add SNMP support for Baytech RPC3-NC PDUs
  NEWS.adoc
  docs/nut.dict
  drivers/Makefile.am
  drivers/baytech-rpc3nc-mib.c
  drivers/baytech-rpc3nc-mib.h
  drivers/snmp-ups.c
Labels: enhancement, SNMP, impacts-release-2.8.2

#2789 Various small CI fixes
  Jenkinsfile-dynamatrix
  configure.ac
  docs/config-prereqs.txt
  drivers/libusb1.c
  drivers/nut-libfreeipmi.c
  drivers/optiups.c
  drivers/powerman-pdu.c
  m4/nut_check_libopenssl.m4
  m4/nut_compiler_family.m4
  scripts/Windows/build-mingw-prereqs.sh
  tools/nut-scanner/scan_ipmi.c
Labels: enhancement, packaging, documentation, CI, refactor/fightwarn, Solaris/illumos, portability
