Repository networkupstools/nut, pull requests merged in 2025-07, with the labels that each got.

#3002 drivers/bcmxcp.c: fix latched on to RB alarm
  NEWS.adoc
  drivers/bcmxcp.c
Labels: bug, impacts-release-2.8.0, impacts-release-2.7.4, impacts-release-2.7.3-or-older, impacts-release-2.8.1, impacts-release-2.8.2, Powerware

#3005 drivers/pijuice.c, NEWS.adoc: revise use of status_set() [#2708]
  NEWS.adoc
  docs/packager-guide.txt
  drivers/pijuice.c
  drivers/powervar_cx.c
Labels: enhancement, documentation, GPIO and I2C, C-str, Powervar

#3007 drivers/usbhid-ups.c: handle also APC BKnnnM2[_-]CH tweaks…
  NEWS.adoc
  data/driver.list.in
  docs/man/usbhid-ups.txt
  docs/nut.dict
  drivers/usbhid-ups.c
Labels: APC, USB, Incorrect or missing readings, impacts-release-2.8.3

#3008 `upsmon`: Improve `SHUTDOWNCMD` and `NOTIFYCMD` troubleshooting
  NEWS.adoc
  clients/upsmon.c
  scripts/systemd/nutshutdown.in
Labels: enhancement, service/daemon start/stop, upsmon

#3012 `snmp-ups`: debug when static entries are skipped; fix `ups.test.date` in `apc-mib` to be semi-static
  NEWS.adoc
  drivers/apc-mib.c
  drivers/snmp-ups.c
Labels: APC, SNMP, Incorrect or missing readings, impacts-release-2.8.3

#3021 common/common.c: compareprocname(): Linux /proc/X/exe pseudo-symlink can end with "(deleted)"…
  common/common.c
Labels: enhancement, service/daemon start/stop, Linux, portability

#3022 Fix `make install-as-root` vs. systemd 252 bug
  Makefile.am
Labels: bug, systemd, service/daemon start/stop, portability

#3016 `minimize_formatting_string()`: do not loudly log complaints about known cosmetic formatting chars
  NEWS.adoc
  common/common.c
Labels: enhancement, C-str

#3017 Allow mapping functions to return EINVAL for setvar/instcmd to abort consistently
  NEWS.adoc
  docs/nut.dict
  drivers/nutdrv_qx.c
  drivers/snmp-ups.c
  drivers/upshandler.h
  drivers/usbhid-ups.c
Labels: enhancement, SNMP, USB, Qx protocol driver, Incorrect or missing readings

#3027 Fix external man page links
  NEWS.adoc
  configure.ac
  docs/.gitignore
  docs/Makefile.am
  docs/asciidoc.conf.in
  docs/configure.txt
  docs/man/.gitignore
  docs/man/Makefile.am
  docs/man/asciidoc.conf.in
  docs/nut.dict
Labels: enhancement, packaging, documentation, CI, portability

#3030 [CI] Introduce a `make check-parallel-builds` recipe
  .circleci/config.yml
  .github/workflows/codeql.yml
  Makefile.am
  NEWS.adoc
  clients/Makefile.am
  data/driver.list.in
  docs/nut-versioning.adoc
  drivers/Makefile.am
  drivers/snmp-ups.c
  server/Makefile.am
  tests/Makefile.am
  tools/gitlog2version.sh
  tools/nut-scanner/Makefile.am
  tools/nutconf/Makefile.am
Labels: enhancement, documentation, CI, portability

#2986 phoenixcontact_modbus: Add support for shutdown variables, mode selector, PC reset timing…
  NEWS.adoc
  docs/man/nutupsdrv.txt
  docs/man/phoenixcontact_modbus.txt
  docs/nut.dict
  drivers/phoenixcontact_modbus.c
Labels: enhancement, experimental-namespace, modbus, Shutdowns and overrides and battery level triggers, Phoenix Contact UPS

#1407 WIP: Support for Voltronic Axpert P30 protocol inverters (main)
  NEWS.adoc
  docs/man/nutdrv_qx.txt
  docs/nut.dict
  drivers/Makefile.am
  drivers/common_voltronic-crc.c
  drivers/common_voltronic-crc.h
  drivers/nutdrv_qx.c
  drivers/nutdrv_qx.h
  drivers/nutdrv_qx_voltronic-axpert.c
  drivers/nutdrv_qx_voltronic-axpert.h
Labels: experimental-namespace, Qx protocol driver, Voltronic
