Repository networkupstools/nut, pull requests merged in 2025-03, with the labels that each got.

#2825 CI: Fix Makefiles for parallel builds
  Makefile.am
  clients/Makefile.am
  common/Makefile.am
  docs/.gitignore
  docs/Makefile.am
  docs/man/.gitignore
  docs/man/Makefile.am
  drivers/Makefile.am
  include/Makefile.am
  lib/Makefile.am
  scripts/Windows/Makefile.am
  scripts/external_apis/Makefile.am
  tests/Makefile.am
  tools/nut-scanner/Makefile.am
Labels: packaging, documentation, CI, refactor/fightwarn, portability

#2828 CI: Fix configure.ac and Makefiles to deliver libnutconf (optionally)
  Makefile.am
  NEWS.adoc
  ci_build.sh
  clients/Makefile.am
  common/Makefile.am
  common/setenv.c
  configure.ac
  docs/Makefile.am
  docs/configure.txt
  docs/nut.dict
  drivers/Makefile.am
  include/Makefile.am
  lib/.gitignore
  lib/Makefile.am
  lib/libnutconf.pc.in
  scripts/Windows/build-mingw-nut.sh
  server/Makefile.am
  tests/Makefile.am
Labels: packaging, documentation, C++, nut-scanner, portability, nutconf

#2841 Fix `generic_gpio_libgpiod` driver builds with libgpio 2.x API changes
  NEWS.adoc
  configure.ac
  docs/nut.dict
  drivers/generic_gpio_libgpiod.c
  drivers/generic_gpio_libgpiod.h
  m4/nut_check_libgpiod.m4
  tests/Makefile.am
  tests/generic_gpio_liblocal.c
  tests/generic_gpio_utest.c
Labels: packaging, GPIO, portability, impacts-release-2.8.2

#2839 use novendor param as flag for don't read vendro name, need for dexp ups
  NEWS.adoc
  UPGRADING.adoc
  data/driver.list.in
  docs/nut.dict
  drivers/nutdrv_qx.c
Labels: DDL, Qx protocol driver, Incorrect or missing readings, impacts-release-2.8.2

#2834 drivers/nutdrv_qx_gtec.c: multiple status letters can be reported at once
  data/driver.list.in
  drivers/nutdrv_qx_gtec.c
Labels: enhancement, USB, Qx protocol driver, Incorrect or missing readings

#2845 NUT-Monitor: report NUT version and website for this build in About dialog
  NEWS.adoc
  docs/nut.dict
  scripts/python/app/NUT-Monitor-py2gtk2.in
  scripts/python/app/NUT-Monitor-py3qt5.in
  scripts/python/app/README.adoc
  scripts/python/app/locale/NUT-Monitor.pot
  scripts/python/app/locale/fr/LC_MESSAGES/NUT-Monitor.mo
  scripts/python/app/locale/fr/fr.po
  scripts/python/app/locale/it/LC_MESSAGES/NUT-Monitor.mo
  scripts/python/app/locale/it/it.po
  scripts/python/app/locale/ru/LC_MESSAGES/NUT-Monitor.mo
  scripts/python/app/locale/ru/ru.po
  scripts/python/app/ui/aboutdialog1.ui
  scripts/python/app/ui/gui-1.3.glade
  scripts/python/app/ui/gui-1.3.glade.h
  tools/nut-usbinfo.pl
Labels: python, portability

#2837 add support for EcoFlow River 3 Plus
  NEWS.adoc
  data/driver.list.in
  docs/nut.dict
  drivers/Makefile.am
  drivers/ecoflow-hid.c
  drivers/ecoflow-hid.h
  drivers/usbhid-ups.c
  scripts/upower/95-upower-hid.hwdb
Labels: enhancement, need testing, USB

#2848 tools/gitlog2version.sh, configure.ac: fix SEMVER generation…
  NEWS.adoc
  README.adoc
  UPGRADING.adoc
  configure.ac
  docs/Makefile.am
  docs/developer-guide.txt
  docs/developers.txt
  docs/maintainer-guide.txt
  docs/nut-versioning.adoc
  docs/nut.dict
  tools/gitlog2version.sh
Labels: enhancement, packaging, documentation, CI, portability

#2849 docs/Makefile.am: fixed make dist, fix custom man sections (repost)
  Jenkinsfile-dynamatrix
  Makefile.am
  NEWS.adoc
  UPGRADING.adoc
  ci_build.sh
  clients/Makefile.am
  configure.ac
  docs/Makefile.am
  docs/man/Makefile.am
  include/Makefile.am
  scripts/external_apis/Makefile.am
  tools/nut-scanner/Makefile.am
Labels: CI

#2842 docs/Makefile.am: fixed make dist, fix custom man sections
  Jenkinsfile-dynamatrix
  Makefile.am
  NEWS.adoc
  UPGRADING.adoc
  ci_build.sh
  clients/Makefile.am
  configure.ac
  docs/Makefile.am
  docs/man/Makefile.am
  include/Makefile.am
  scripts/external_apis/Makefile.am
  tools/nut-scanner/Makefile.am
Labels: packaging, documentation, CI

#2853 Document the NUT support policy
  README.adoc
  docs/Makefile.am
  docs/nut.dict
  docs/user-manual.txt
Labels: enhancement, documentation

#2855 A few quick fixes before v2.8.3 release
  .gitignore
  INSTALL.nut.adoc
  Makefile.am
  NEWS.adoc
  README.adoc
  docs/FAQ.txt
  docs/Makefile.am
  docs/asciidoc-vars.conf
  docs/nut.dict
  docs/user-manual.txt
  lib/libnutconf.pc.in
  lib/libnutscan.pc.in
  server/upsd.c
Labels: enhancement, documentation, CI

#2857 NUT-Monitor: improve portability
  Jenkinsfile-dynamatrix
  UPGRADING.adoc
  configure.ac
  scripts/python/Makefile.am
  scripts/python/app/NUT-Monitor
  scripts/python/app/NUT-Monitor-py3qt5.in
  scripts/python/app/README.adoc
  scripts/python/app/locale/fr/fr_FR.UTF-8.po
  scripts/python/app/locale/fr_FR.UTF-8
  scripts/python/app/locale/it/it_IT.UTF-8.po
  scripts/python/app/locale/it_IT.UTF-8
  scripts/python/app/locale/ru/ru_RU.UTF-8.po
  scripts/python/app/locale/ru_RU.UTF-8
  scripts/python/app/ui/gui-1.3.glade
Labels: python, Solaris/illumos, portability

#2859 Expose unique-token parsing methods to NUT clients
  NEWS.adoc
  UPGRADING.adoc
  clients/Makefile.am
  clients/upsclient.c
  clients/upsclient.h
  docs/man/Makefile.am
  docs/man/index.txt
  docs/man/upscli_str_add_unique_token.txt
  docs/man/upscli_str_contains_token.txt
  docs/man/upsclient.txt
  docs/nut.dict
  include/common.h
Labels: enhancement, ready / gonna merge, NUT protocols

#2850 Revise the stance on ECO/... modes in NUT standard, amend implementations
  clients/status.h
  clients/upsmon.c
  common/nutconf.cpp
  common/nutwriter.cpp
  data/cmdvartab
  docs/new-drivers.txt
  docs/nut-names.txt
  docs/nut.dict
  drivers/apc_modbus.c
  drivers/dstate.c
  drivers/dstate.h
  drivers/mge-hid.c
  drivers/nutdrv_qx.c
  drivers/nutdrv_qx_voltronic.c
  drivers/usbhid-ups.c
Labels: feature, documentation, need testing, ready / code review, USB, ready / gonna merge, Qx protocol driver, NUT protocols, upsmon

#2865 Optionally suggest rpath for NUT libraries for third parties
  NEWS.adoc
  configure.ac
  lib/libnutclient.pc.in
  lib/libnutclientstub.pc.in
  lib/libnutconf.pc.in
  lib/libnutscan.pc.in
  lib/libupsclient-config.in
  lib/libupsclient.pc.in
  m4/ax_realpath_lib.m4
Labels: enhancement, packaging, portability

#2866 Introduce the NUT QA Guide book
  INSTALL.nut.adoc
  Makefile.am
  NEWS.adoc
  UPGRADING.adoc
  ci_build.adoc
  ci_build.sh
  docs/.gitignore
  docs/Makefile.am
  docs/asciidoc.conf
  docs/ci-farm-do-setup.adoc
  docs/ci-farm-lxc-setup.txt
  docs/config-prereqs.txt
  docs/configure.txt
  docs/developers.txt
  docs/docinfo.xml.in
  docs/docinfo.xml.sh
  docs/documentation.txt
  docs/download.txt
  docs/maintainer-guide.txt
  docs/nut-qa.txt
  docs/nut.dict
  docs/qa-guide.adoc
  docs/user-manual.txt
  scripts/Windows/Installer/README.adoc
  scripts/Windows/README.adoc
  scripts/python/app/README.adoc
  tests/NIT/README.adoc
Labels: documentation
