Repository networkupstools/nut, pull requests merged in 2025-04, with the labels that each got.

#2870 Fix warnings found by NetBSD
  Jenkinsfile-dynamatrix
  ci_build.sh
  clients/cgilib.c
  clients/upssched.c
  clients/upsset.c
  clients/upsstats.c
  common/common.c
  common/nutstream.cpp
  common/upsconf.c
  common/wincompat.c
  docs/config-prereqs.txt
  docs/nut.dict
  drivers/dstate.c
  drivers/dummy-ups.c
  drivers/hwmon_ina219.c
  drivers/main.c
  drivers/mge-xml.c
  drivers/nhs_ser.c
  drivers/nutdrv_qx.c
  drivers/powerp-txt.c
  drivers/snmp-ups.c
  drivers/upsdrvctl.c
  drivers/upsdrvquery.c
  drivers/upsdrvquery.h
  include/nutconf.hpp
  m4/ax_c_pragmas.m4
  m4/nut_report_feature.m4
  scripts/upsdrvsvcctl/nut-driver-enumerator.sh.in
  tools/nut-scanner/Makefile.am
Labels: documentation, refactor/fightwarn, NetBSD, portability, C-str

#2847 clients: update clients to timeout in 10 secs, try SSL
  NEWS.adoc
  UPGRADING.adoc
  clients/Makefile.am
  clients/upsc.c
  clients/upsclient.c
  clients/upsclient.h
  clients/upscmd.c
  clients/upsimage.c
  clients/upslog.c
  clients/upsmon.c
  clients/upsmon.h
  clients/upsrw.c
  clients/upsset.c
  clients/upsstats.c
  common/str.c
  conf/nut.conf.sample
  docs/man/Makefile.am
  docs/man/index.txt
  docs/man/upsc.txt
  docs/man/upscli_connect.txt
  docs/man/upscli_get_default_connect_timeout.txt
  docs/man/upscli_init.txt
  docs/man/upscli_init_default_connect_timeout.txt
  docs/man/upscli_set_default_connect_timeout.txt
  docs/man/upscmd.txt
  docs/man/upslog.txt
  docs/man/upsmon.txt
  docs/man/upsrw.txt
  docs/nut.dict
Labels: enhancement, service/daemon start/stop, upsmon

#2871 Optimize parallel spellcheck some more
  .gitignore
  Makefile.am
  NEWS.adoc
  docs/Makefile.am
  docs/man/Makefile.am
Labels: enhancement, packaging, documentation, CI

#2873 clients/upsmon.{c,h} et al: introduce {NOT,}{OVER,TRIM,BOOST} notifications
  NEWS.adoc
  clients/upsmon.c
  clients/upsmon.h
  common/nutconf.cpp
  common/nutwriter.cpp
  conf/upsmon.conf.sample.in
  configure.ac
  docs/man/nutconf.txt
  docs/man/upsmon.conf.txt
  docs/man/upsmon.txt
  docs/nut.dict
  include/nutconf.hpp
  scripts/augeas/nutupsmonconf.aug.in
  tools/nutconf/nutconf-cli.cpp
Labels: enhancement, documentation, C++, upsmon, nutconf, augeas

#2876 Few improvements on phoenixcontact_modbus driver
  drivers/phoenixcontact_modbus.c
Labels: enhancement, modbus, Phoenix Contact UPS

#2878 Small fixes before 2.8.3
  clients/upssched-cmd
  docs/new-drivers.txt
  docs/nut-names.txt
  drivers/mge-hid.c
  m4/ax_realpath_lib.m4
Labels: documentation, nut-scanner, portability, ECO/ESS/HE/ABM modes

#2879 Some more small fixes before 2.8.3
  Jenkinsfile-dynamatrix
  Makefile.am
  ci_build.sh
  configure.ac
  docs/configure.txt
  include/Makefile.am
  m4/ax_c_pragmas.m4
  m4/nut_check_libgd.m4
  m4/nut_check_libgpiod.m4
  m4/nut_check_libusb.m4
  m4/nut_report_feature.m4
Labels: documentation, CI

#2886 ecomode cmd functions addon
  drivers/mge-hid.c
Labels: Eaton, USB, ECO/ESS/HE/ABM modes

#2884 Some recipe fixes for NUT v2.8.3 release
  .github/workflows/codeql.yml
  Makefile.am
  NEWS.adoc
  UPGRADING.adoc
  appveyor.yml
  clients/.gitignore
  clients/Makefile.am
  docs/docinfo.xml.in
  include/Makefile.am
  tools/gitlog2version.sh
Labels: bug, CI

#2892 scripts/external_apis/enphase - correct number conversion, service file
  scripts/external_apis/enphase/enphase-monitor.in
  scripts/external_apis/enphase/enphase-monitor@.service.in
Labels: enhancement

#2893 Fix build on Debian 13
  docs/config-prereqs.txt
  drivers/asem.c
  drivers/generic_gpio_libgpiod.c
  drivers/hwmon_ina219.c
  tests/generic_gpio_liblocal.c
  tests/generic_gpio_utest.c
  tools/nutconf/nutconf-cli.cpp
Labels: documentation, CI, refactor/fightwarn

#2896 Update `upssched` and call it from NIT
  NEWS.adoc
  clients/upssched-cmd
  clients/upssched.c
  common/unsetenv.c
  configure.ac
  include/proto.h
  scripts/misc/notifyme-debug
  tests/NIT/nit.sh
  tests/NIT/upssched.conf.in
Labels: CI, upsmon, upssched

#2901 docs/man/upscmd.txt, docs/man/upsrw.txt: clarify "OK" vs. waiting for result
  docs/man/upscmd.txt
  docs/man/upsrw.txt
Labels: documentation, impacts-release-2.8.0

#2910 Clarify message for `nutdrv_qx` mismatch of `port!="auto"` and presence of USB settings
  drivers/hwmon_ina219.c
  drivers/nutdrv_qx.c
Labels: enhancement, USB, Qx protocol driver, serial port

#2904 Report libmodbus linking type in drivers with it; revise NEWS and UPGRADING docs for 2.8.3
  Jenkinsfile-dynamatrix
  Makefile.am
  NEWS.adoc
  UPGRADING.adoc
  common/Makefile.am
  common/common.c
  configure.ac
  docs/Makefile.am
  docs/maintainer-guide.txt
  docs/man/Makefile.am
  drivers/adelsystem_cbi.c
  drivers/apc_modbus.c
  drivers/generic_modbus.c
  drivers/huawei-ups2000.c
  drivers/phoenixcontact_modbus.c
  drivers/socomec_jbus.c
  m4/nut_check_libmodbus.m4
  scripts/Solaris/Makefile.am
  scripts/python/module/Makefile.am
  tests/Makefile.am
  tools/Makefile.am
  tools/nut-usbinfo.pl
Labels: packaging, documentation, CI, modbus, portability

#2911 Fix NUT SEMVER support for concept of release-candidates
  common/common.c
  configure.ac
  docs/maintainer-guide.txt
  docs/nut-versioning.adoc
  docs/nut.dict
  include/Makefile.am
  tools/gitlog2version.sh
Labels: packaging, documentation, CI

#2903 FTY remerge as of 20250415 with NUT tag v2.8.3-rc4 and 20250421 with tag v2.8.3-rc5
  INSTALL.nut.adoc
  Jenkinsfile-dynamatrix
  Makefile.am
  NEWS.adoc
  UPGRADING.adoc
  ci_build.sh
  clients/Makefile.am
  clients/upsmon.c
  clients/upsmon.h
  clients/upssched-cmd
  clients/upssched.c
  common/Makefile.am
  common/common.c
  common/nutconf.cpp
  common/nutwriter.cpp
  common/unsetenv.c
  conf/upsmon.conf.sample.in
  configure.ac
  docs/Makefile.am
  docs/config-prereqs.txt
  docs/configure.txt
  docs/maintainer-guide.txt
  docs/man/Makefile.am
  docs/man/upscmd.txt
  docs/man/upsmon.conf.txt
  docs/man/upsrw.txt
  docs/nut-versioning.adoc
  docs/nut.dict
  drivers/adelsystem_cbi.c
  drivers/apc_modbus.c
  drivers/generic_gpio_libgpiod.c
  drivers/generic_modbus.c
  drivers/huawei-ups2000.c
  drivers/hwmon_ina219.c
  drivers/nutdrv_qx.c
  drivers/phoenixcontact_modbus.c
  drivers/socomec_jbus.c
  include/Makefile.am
  include/nutconf.hpp
  include/proto.h
  m4/nut_check_libmodbus.m4
  obs/debian.rules
  scripts/DMF/Makefile.am
  scripts/Solaris/Makefile.am
  scripts/augeas/nutupsmonconf.aug.in
  scripts/external_apis/enphase/enphase-monitor.in
  scripts/misc/notifyme-debug
  scripts/python/module/Makefile.am
  tests/Makefile.am
  tests/NIT/nit.sh
  tests/NIT/upssched.conf.in
  tests/nutconf_ut.cpp
  tools/Makefile.am
  tools/gitlog2version.sh
  tools/nut-scanner/Makefile.am
  tools/nut-usbinfo.pl
Labels: refactor/fightwarn, DMF

#2745 Support `writepid()` calls by non-`root` programs to try using `altpidpath()` if `rootpidpath()` is not accessible
  NEWS.adoc
  common/common.c
  common/nutipc.cpp
  docs/nut.dict
Labels: service/daemon start/stop

#2913 Refactor `common.c` to separate the code dependent on `nut_version.h`
  Makefile.am
  NEWS.adoc
  clients/Makefile.am
  common/Makefile.am
  common/common-nut_version.c
  common/common.c
  drivers/Makefile.am
  scripts/Windows/Makefile.am
  server/Makefile.am
  tools/nut-scanner/Makefile.am
  tools/nutconf/Makefile.am
Labels: enhancement, nut-scanner, CI

#2916 Move `inet_ntopXX()` methods to `common.{c,h}`
  NEWS.adoc
  clients/upsclient.c
  common/common.c
  docs/nut.dict
  include/common.h
  server/upsd.c
Labels: enhancement, CI, C-str

#2919 drivers/cps-hid.c: add report descriptor fix for ConfigActivePower
  NEWS.adoc
  drivers/cps-hid.c
Labels: CyberPower (CPS), USB, USB-HID encoding/LogMin/LogMax, Incorrect or missing readings

#440 Ve-direct driver
  NEWS.adoc
  docs/daisychain.txt
  docs/man/Makefile.am
  docs/man/ve-direct.txt
  docs/man/victronups.txt
  docs/nut.dict
  drivers/Makefile.am
  drivers/ve-direct.c
Labels: needs-work, experimental-namespace

#2921 Fix fallout from PR #2842 : do fail `configure` when requested doc types can not be built
  NEWS.adoc
  configure.ac
  m4/nut_report_feature.m4
Labels: bug, CI, impacts-release-2.8.3

#2920 Fix shell regexes with empty (part of) expectation for portability
  configure.ac
  scripts/Windows/dllldd.sh
  tools/gitlog2version.sh
Labels: Windows, CI, Solaris/illumos, Linux, portability
